@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-about {
  position: relative;
  z-index: 99;

  // .section-about__body
  &__body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 13rem 0 2rem;

    @include screen-490 {
      padding: 13rem 0 2rem;
    }
  }

  // .section-about__title
  &__title {
    margin-bottom: 3rem;

    font-family: $font-family-title;
    font-weight: 500;
    line-height: 110%;
    color: rgb(31 30 29 / 100%);
    text-align: left;
    letter-spacing: -1px;
  }

  // .section-about__content
  &__content {
    display: grid;
    grid-template-columns: 33.5% 1fr;
    gap: 1rem;

    border-radius: 4rem;

    background-color: rgb(255 255 255);

    @include screen-960 {
      grid-template-columns: 1fr;
    }

    @include screen-490 {
      margin: 0 -16px;
      border-radius: 2rem;
    }
  }

  // .section-about__column
  &__column {
    &:nth-child(1) {
      max-width: 405px;
      padding: 10px;

      @include screen-960 {
        display: none;
      }
    }

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 3rem;

      @include screen-960 {
        padding: 5rem;
      }

      @include screen-490 {
        padding: 30px 16px;
      }
    }
  }

  // .section-about__image
  &__image {
    overflow: hidden;
    border-radius: 30px;

    @include screen-960 {
      display: none;
    }
  }
}

.about-info {
  // .about-info__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .about-info__text
  &__text {
    font-size: 1.8rem;
    line-height: 110%;
  }

  // .about-info__title
  &__title {
    font-family: $font-family-secondary;
    font-weight: 500;
    line-height: 110%;
    color: rgb(31 30 29 / 100%);
    letter-spacing: -1px;
  }

  //  .about-info__sub-text
  &__sub-text {
    font-family: $font-family-secondary;
  }

  // .about-info__banner
  &__banner {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 2rem;
    align-items: center;

    padding: 10px;
    border: 1px solid #e4dfdf;
    border-radius: 25px;

    @include screen-520 {
      grid-template-columns: 1fr;
    }
  }

  // .about-info__column
  &__column {
    &:nth-child(1) {
      display: flex;
    }

    &:nth-child(2) {
      color: $color;

      .about-info__text {
        font-weight: 500;
        line-height: 100%;
      }
    }
  }

  // .about-info__image
  &__image {
    overflow: hidden;
    border-radius: 22px;

    &:not(:first-child) {
      margin-left: -20%;
    }
  }
}
