@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-map {
  // .section-map__body
  &__body {
    margin: 0 auto;
    padding-block: 5rem !important;

    @include screen-490 {
      padding-block: 3rem !important;
    }
  }

  // .section-map__content
  &__content {
    display: grid;
    grid-template-columns: minmax(250px, 348px) minmax(590px, 1fr);
    gap: 10px;

    @include screen-960 {
      grid-template-columns: 1fr;
    }
  }

  // .section-map__column
  &__column {
    min-width: 240px;
    height: 100%;
    border-radius: 40px;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding: 2rem;

      background: rgb(255 255 255 / 100%);
    }

    &:nth-child(2) {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    @include screen-490 {
      border-radius: 30px;
    }
  }

  // .section-map__item
  &__item {
    display: flex;
    gap: 1.6rem;

    padding: 10px 15px;
    border-radius: 60px;

    background: rgb(254 249 245 / 100%);

    // .section-map__item--networks
    &--networks {
      display: flex;
      flex-direction: row;
    }
  }

  // .section-map__text
  &__text {
    span {
      display: block;
      white-space: nowrap;

      &.t-text-13 {
        font-size: 13px;
        font-weight: 400;
        line-height: 110%;
        color: rgb(167 162 157 / 100%);
      }

      &:first-child {
        font-weight: 600;
        line-height: 110%;
      }
    }
  }

  // .section-map__image
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;
    border-radius: 50%;

    background: rgb(236 104 29 / 100%);
  }

  // .section-map__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;
    border-radius: 50%;

    background: rgb(236 104 29 / 100%);

    .icon {
      font-size: 14px;
      color: #fff;
    }
  }

  // .section-map__networks
  &__networks {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 33px;
      height: 33px;
      border-radius: 50%;

      font-size: 18px;
      color: #fff;

      background-color: #fff;
    }

    .icon-telegram-fly {
      background-color: rgb(4 155 229);
    }

    .icon-whats-app {
      background-color: rgb(40 167 27);
    }

    .icon-vk-brand {
      background-color: rgb(39 135 245);
    }
  }

  // .section-map__image-map
  &__image-map {
    pointer-events: auto;
    user-select: auto;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
  }

  //  .section-map__iframe
  &__iframe {
    height: 290px;
  }
}
.marker-box {
  position: absolute;
  display: flex;
  width: 100%;
  &__img {
    width: 50px;
    height: 50px;

    img {
      filter: drop-shadow(-3px 2px 7px #00000085);
    }
  }

  &__text {
    transform: translate(40px, -110%);

    width: 200px;
    height: 42px;
    padding: 14px 20px;
    border-radius: 50px;

    white-space: nowrap;

    background: rgb(255 255 255 / 6%);
    backdrop-filter: blur(26px);

    span {
      font-size: 13px;
      font-weight: 600;
      line-height: 110%;
      color: rgb(31 30 29 / 100%);
    }
  }
}
