/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable order/properties-order */
/* stylelint-disable property-no-vendor-prefix */
@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-map {
  // .section-map__body
  &__body {
    margin: 0 auto;
    padding-block: 5rem !important;

    @include screen-490 {
      padding-block: 3rem !important;
    }
  }

  // .section-map__content
  &__content {
    display: grid;
    grid-template-columns: minmax(250px, 348px) minmax(590px, 1fr);
    gap: 10px;

    @include screen-960 {
      grid-template-columns: 1fr;
    }
  }

  // .section-map__column
  &__column {
    overflow: hidden;
    min-width: 240px;
    height: 100%;
    border-radius: 40px;
    -webkit-border-radius: 40px; // Для Safari

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding: 2rem;

      background: rgb(255 255 255 / 100%);
    }

    &:nth-child(2) {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    @include screen-490 {
      border-radius: 30px;
      -webkit-border-radius: 30px; // Для Safari
    }
  }

  // .section-map__item
  &__item {
    display: flex;
    gap: 1.6rem;

    padding: 10px 15px;
    border-radius: 60px;
    -webkit-border-radius: 60px; // Для Safari

    background: rgb(254 249 245 / 100%);

    // .section-map__item--networks
    &--networks {
      display: flex;

      .section-map__text {
        flex-direction: column;
        gap: 0;
      }

      a {
        transition: transform 0.3s ease 0s;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  // .section-map__text
  &__text {
    display: flex;
    gap: 0.9rem;
    align-items: center;

    &:hover {
      .section-map__icon {
        transform: scale(1.2);
      }
    }

    span {
      display: block;
      white-space: nowrap;

      &.t-text-13 {
        font-size: 13px;
        font-weight: 400;
        line-height: 110%;
        color: rgb(167 162 157 / 100%);
      }

      &:first-child {
        color: rgb(90 87 84 / 100%);
        font-weight: 600;
        font-style: semibold;
        line-height: 110%;
      }
    }
  }

  // .section-map__image
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;
    border-radius: 50%;
    -webkit-border-radius: 50%; // Для Safari

    background: rgb(236 104 29 / 100%);

    img {
      width: 13px;
      height: 13px;
    }
  }

  // .section-map__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease 0s;

    width: 33px;
    height: 33px;
    border-radius: 50%;
    -webkit-border-radius: 50%; // Для Safari

    background: rgb(236 104 29 / 100%);

    .icon {
      font-size: 14px;
      color: #fff;
    }
  }

  // .section-map__networks
  &__networks {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 33px;
      height: 33px;
      border-radius: 50%;
      -webkit-border-radius: 50%; // Для Safari

      font-size: 18px;
      color: #fff;

      background-color: #fff;
    }

    .icon-telegram-fly {
      background-color: rgb(4 155 229);
    }

    .icon-whats-app {
      background-color: rgb(40 167 27);
    }

    .icon-vk-brand {
      background-color: rgb(39 135 245);
    }
  }

  // .section-map__image-map
  &__image-map {
    pointer-events: auto;
    user-select: auto;
    -webkit-user-select: auto; // Для Safari

    position: relative;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 40px;
    -webkit-border-radius: 40px; // Для Safari

    @include screen-960 {
      height: 274px;
    }
  }

  //  .section-map__iframe
  &__iframe {
    width: 100%;
    height: 290px;
    border: none;
  }
}

.marker-box {
  position: absolute;
  display: inline-flex;
  width: auto;
  -webkit-backface-visibility: hidden; // Улучшает рендеринг в Safari
  backface-visibility: hidden;

  &__img {
    width: 50px;
    height: 50px;

    img {
      filter: drop-shadow(-3px 2px 7px #aaaaaa85);
      -webkit-filter: drop-shadow(-3px 2px 7px #aaaaaa85); // Для Safari
    }
  }

  &__text {
    transform: translate(40px, -120%);
    -webkit-transform: translate(40px, -120%); // Для Safari

    display: flex;
    align-items: center;

    width: 230px;
    height: 42px;
    padding: 14px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px; // Для Safari

    white-space: nowrap;

    // Градиент с префиксами для кроссбраузерности
    background: rgb(255 255 255 / 32.2%);
    background: -webkit-linear-gradient(
      90deg,
      rgb(255 255 255 / 70%),
      rgb(255 255 255 / 39%)
    ); // Для Safari
    background: linear-gradient(
      90deg,
      rgb(255 255 255 / 70%),
      rgb(255 255 255 / 39%)
    );

    span {
      font-size: 13px;
      font-weight: 600;
      line-height: 110%;
      color: rgb(31 30 29 / 100%);
      -webkit-font-smoothing: antialiased; // Улучшает рендеринг текста в Safari
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

// Дополнительные исправления для Safari на мобильных устройствах
@media not all and (resolution >= 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .marker-box {
      // Улучшение производительности в Safari
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
}
