@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-products {
  // .section-products__body
  &__body {
    margin: 0 auto;
    padding-block: 5rem !important;

    @include screen-490 {
      padding-block: 3rem !important;
    }
  }

  // .section-products__content
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include screen-1440 {
      grid-template-columns: repeat(4, 1fr);
    }

    @include screen-960 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include screen-768 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-490 {
      grid-template-columns: 1fr;
    }
  }

  // .section-products__title
  &__title {
    margin-bottom: 4rem;
    padding-left: 10rem;

    font-weight: 500;
    line-height: 110%;
    color: rgb(31 30 29 / 100%);
    letter-spacing: -0.3px;

    @include screen-490 {
      padding: 0 2rem;
      text-align: right;
    }
  }

  // .section-products__column
  &__column {
    position: relative;
    padding: 0.5rem;
  }
}

.products-cart {
  pointer-events: all;
  cursor: pointer;

  height: 100%;
  padding: 1rem;
  border-radius: 30px;

  transition:
    background-color 0.4s,
    filter 0.4s ease 0s;

  &.active {
    background-color: #fff;
    filter: drop-shadow(0 0 14px #8080808e);

    .products-cart__button-by {
      opacity: 1;
      filter: drop-shadow(0 0 3px #8080808e);
    }
  }

  // .products-cart__content
  &__content {
    pointer-events: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;
  }

  //.products-cart__wrapper

  &__wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  // .products-cart__image
  &__image {
    overflow: hidden;
    min-height: auto;
    //todo-  max-height: 290px; Временно
    border-radius: 30px;
    transition: max-height 0.3s ease;
  }

  // .products-cart__link
  &__link {
    pointer-events: all;

    flex: 1 1 100%;

    font-family: $font-family-secondary;
    font-weight: 400;
    color: rgb(31 30 29 / 100%);
    letter-spacing: -0.2px;

    transition: color 0.3s ease 0s;

    &:hover {
      color: $color;
    }
  }

  // .products-cart__price
  &__price {
    font-family: $font-family-title;
    font-weight: 500;
    color: rgb(31 30 29 / 100%);
    letter-spacing: -3%;

    span {
      padding-right: 0.5rem;
    }

    .icon {
      font-size: 19px;
    }
  }

  // .products-cart__button-container
  &__button-container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;

    .button {
      pointer-events: all;
    }
  }

  // .products-cart__button-cart
  &__button-cart {
    z-index: 2;

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    transition: transform 0.3s ease 0s;

    .icon {
      transform: rotate(-45deg);
      padding: 1rem;
      color: $color;
    }

    &:hover {
      transform: scale(0.95);
    }

    span {
      color: #fff;
    }
  }

  // .products-cart__button-by
  &__button-by {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-radius: 55px;

    opacity: 0;
    background: rgb(254 249 245 / 100%);

    transition:
      transform 0.3s,
      opacity 0.4s,
      margin-top 0.3s ease 0s;

    .icon {
      transform: rotate(-45deg);
      padding: 1rem;
      color: #fff;
    }

    &:hover {
      transform: scale(0.95);
    }

    span {
      color: rgb(89 86 83 / 100%);
    }

    @include min-1140 {
      margin-top: -57px;
    }

    @include screen-1140 {
      margin-top: -45px;
    }
  }

  // .products-cart__icon-cart
  &__icon-cart {
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease 0s;
  }

  // .products-cart__icon-by
  &__icon-by {
    border-radius: 50%;
    background: rgb(89 86 83 / 100%);
    transition: transform 0.3s ease 0s;
  }

  .icon-arrow-right {
    padding: 0.5rem;
  }
}
