@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-perform {
  position: relative;
  z-index: 3;

  overflow: hidden;

  width: 100%;
  margin: 0 auto;

  // .section-perform__body
  &__body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 5rem;

    @include screen-490 {
      padding: 0 0 3rem;
    }
  }

  //.section-perform__content
  &__content {
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    justify-content: space-between;

    width: 100%;
    padding-top: 13rem;

    @include minmax-690-1920 {
      gap: calc(20px + (80 - 20) * ((100vw - 690px) / (1920 - 690)));
    }

    @include screen-690 {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  // .section-perform__column
  &__column {
    flex: 0 1 50%;
    width: 100%;

    @include screen-690 {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  // .section-perform__group
  &__group {
    margin-bottom: 5rem;
    padding-top: 3rem;

    font-family: $font-family-default;
    font-weight: 500;
    font-style: normal;
    line-height: 110%;
    text-align: left;
    letter-spacing: -3%;

    @include screen-690 {
      margin-bottom: 4rem;
    }
  }

  // .section-perform__row
  &__row {
    display: flex;
    gap: 2.3rem;

    margin-bottom: 8rem;
    padding: 10px;
    border: 1px solid rgb(228 223 223 / 100%);
    border-radius: 25px;

    .section-perform__image {
      flex: 0 0 16.3rem;

      img {
        max-width: 16.3rem;
        max-height: 15.9rem;
      }

      @include screen-425 {
        display: none;
      }
    }

    @include screen-690 {
      margin: 3rem 0;
    }
  }

  // .section-perform__image
  &__image {
    overflow: hidden;
    max-width: 540px;
    img {
      object-fit: cover;
    }
  }

  // .section-perform__title
  &__title {
    margin-bottom: 12px;
    line-height: 110%;
    letter-spacing: 1.4px;
    letter-spacing: -3%;
    span {
      display: block;
      color: $color;

      &:last-child {
        color: #000;
        text-align: right;
      }
    }

    @include screen-690 {
      text-align: center;
      span {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  // .section-perform__text
  &__text {
    display: block;

    margin-bottom: 3.6rem;

    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 130%;
    color: rgb(167 162 156 / 100%);
    text-transform: uppercase;
    letter-spacing: 0;

    @include screen-490 {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }

  // .section-perform__button
  &__button {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    max-width: 300px;
    padding: 2rem 3rem;

    transition: transform 0.3s ease 0s;

    .ct-button__item {
      background-color: #fff;
    }

    span {
      line-height: 100%;
      color: white;
    }

    &:hover {
      transform: scale(0.95);
    }

    @include screen-490 {
      max-width: 100%;
    }
  }

  // .section-perform__footer
  &__footer {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: space-between;
  }

  // .section-perform__footer-col
  &__footer-col {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  // .section-perform__footer-text
  &__footer-text {
    font-size: 18.76px;
    font-weight: 600;
    font-style: semibold;
    line-height: 110%;
    color: rgb(31 30 29 / 100%);
    text-align: left;
    letter-spacing: 0%;
  }
}
