@use '../core/variables' as *;
@use '../core/mixins' as *;

// * Секция отзывы покупателей -------------------------------------------------
.section-reviews {
  // .section-reviews__body
  &__body {
    margin: 0 auto;
    padding-block: 8rem 9rem !important;

    @include screen-490 {
      padding-block: 4rem !important;
    }
  }

  // .section-reviews__head
  &__head {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 40px;

    @include screen-620 {
      flex-direction: column;
    }
  }

  // .section-reviews__title
  &__title {
    line-height: 110%;
  }

  // .section-reviews__wrapp
  &__wrapp {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    @include screen-620 {
      justify-content: space-around;
    }
  }

  // .section-reviews__label
  &__label {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    @include screen-620 {
      justify-content: flex-start;
      width: 100%;
    }
  }

  // .section-reviews__icon
  &__icon {
    .icon-star {
      width: auto;
      height: 16px;
      font-size: 16px;
      color: $color;
    }
  }

  // .section-reviews__rating
  &__rating {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;

    max-width: 247px;
    padding: 12px 20px;
    border-radius: 100vh;

    font-size: 1.5rem;

    background-color: $background;

    span {
      &:nth-child(1) {
        font-size: 3rem;
        font-weight: 700;
      }

      &:nth-child(2) {
        font-size: 1.5rem;
        line-height: 110%;
      }
    }
  }

  // .section-reviews__wrapper
  &__wrapper {
    scroll-snap-type: x proximity;
    display: flex;
  }

  // .section-reviews__slide
  &__slide {
    .swiper-slide {
      height: auto;
    }
  }

  // .section-reviews__buttons
  &__buttons {
    display: inline-flex;
    gap: 4rem;
    width: 100%;
    padding-left: 7rem;

    .button {
      width: auto;
      color: $font-color-secondary;
    }

    @include screen-690 {
      gap: 2rem;
      justify-content: center;
      padding: 0;
    }

    @include screen-425 {
      flex-direction: column;
      align-items: center;
    }
  }

  // .section-reviews__button
  &__button {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

    transition: transform 0.3s ease-in-out;

    .icon {
      transform: rotate(-45deg);

      width: 30px;
      height: 30px;
      border-radius: 100vh;

      color: $color;

      background-color: $background;

      transition: transform 0.3s ease-in-out;
    }

    &.button-white {
      background-color: $background;

      .icon {
        width: 30px;
        height: 30px;
        border-radius: 100vh;

        color: $background;

        background-color: $color-text-medium;
      }
    }

    &.button {
      @include screen-425 {
        width: 200px;
      }
    }

    &:hover {
      .icon {
        transform: rotate(0);
      }
      transform: scale(0.98);
    }
  }

  // .section-reviews__button-wrapp
  &__button-wrapp {
    display: flex;
    gap: 0.5rem;
    color: #000;

    span {
      &:nth-child(2) {
        font-family: $font-family-italic;
        color: $color-light;
        white-space: nowrap;
      }
    }

    @include screen-580 {
      flex-direction: column;
      gap: 0;
    }
  }
}

// * Карточка отзыва -----------------------------------------------------------
.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.6rem;

  &__img {
    overflow: hidden;
    width: 100%;
    border-radius: 4rem;
    transition: transform 0.5s ease;

    img {
      position: relative;
      z-index: 0;
      object-fit: contain;
      object-position: top center; // Показываем начало переписки
    }
  }

  // .review-card__thumb
  &__thumb {
    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 1.5rem;

    width: 97%;
    margin: -32% auto 0;
    padding: 2.5rem;
    border-radius: 4rem;

    background-color: $background;
    box-shadow: 0 3px 7px rgb(167 167 167 / 20%);
  }

  // .review-card__row
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .icon {
      color: $color;
    }

    &:nth-child(2) {
      flex-direction: column;
      gap: 1.5rem;
      height: 100%;
    }
  }

  // .review-card__name
  &__name {
    font-family: $font-family-title;
  }

  // .review-card__type
  &__type {
    font-family: $font-family-italic;
    font-size: 1.4rem;
    color: $color;
  }

  // .review-card__text
  &__text {
    flex: 1 1 auto;
    font-size: 1.5rem;
    line-height: 110%;
  }
}

// * Swiper pagination ---------------------------------------------------------
.swiper-pagination {
  position: relative;
  z-index: 10;
  transform: translateZ(0);

  text-align: center;

  transition: opacity 0.3s;

  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translate(-50%, 0) !important;
    padding: 2.4rem 0;
    white-space: nowrap;

    @include screen-490 {
      transform: translate(-50%, 0) !important;
    }
  }

  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }

  .swiper-pagination-bullet {
    cursor: pointer;

    position: relative;
    transform: scale(0);

    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;

    background-color: $color-light;

    transition:
      transform 0.5s,
      left 0.5s,
      color 0.4s ease-in-out;

    &.swiper-pagination-bullet-active-prev {
      transform: scale(0.66);
    }

    &.swiper-pagination-bullet-active-prev-prev {
      transform: scale(0.33);
    }

    &.swiper-pagination-bullet-active-next {
      transform: scale(0.66);
    }

    &.swiper-pagination-bullet-active-next-next {
      transform: scale(0.33);
    }

    &.swiper-pagination-bullet-active,
    &.swiper-pagination-bullet-active-main {
      transform: scale(1);
      background-color: $color;
    }
  }
}
