@use '../core/variables' as *;
@use '../core/mixins' as *;

$radius: 3.2rem;

.section-questions {
  // .section-questions__body
  &__body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 5rem;

    @include screen-490 {
      padding: 0 0 3rem;
    }
  }

  // .section-questions__head
  &__head {
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    text-align: center;
  }

  // .section-questions__title
  &__title {
    margin-bottom: 4rem;
    font-family: $font-family-title;
    line-height: 110%;
    color: rgb(31 30 29 / 100%);
  }

  // .section-questions__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 800px;
    margin: 0 auto;
  }
}

// * ----------------------------------------------------------------------------
// --- Карточка вопроса ---
.questions-item {
  overflow: hidden;

  border-radius: $radius;

  color: #7c6655;

  background: rgb(250 230 215);

  transition: box-shadow 0.1s ease;

  // При наведении чуть подсвечиваем
  &:hover {
    box-shadow: 0 4px 20px rgb(46 46 46 / 10%);
  }

  // --- Состояние: Открыт (добавляется через JS) ---
  &.is-active {
    .questions-item__icon {
      transform: scale(-1);
      background-color: $color;

      &::before,
      &::after {
        background-color: white;
      }
    }

    .icon-angle-down {
      color: white;
    }
    .questions-item__content {
      grid-template-rows: 1fr;
      padding-bottom: 24px;
      opacity: 1;
    }
  }

  // .questions-item__trigger  Кнопка-триггер (весь заголовок)
  &__trigger {
    cursor: pointer;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 24px 30px;
    border: none;

    text-align: left;

    background: none;
  }

  // .questions-item__question
  &__question {
    font-size: 1.8rem;
    font-weight: 700;
  }

  // .questions-item__icon Иконка стрелка
  &__icon {
    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;

    background: rgb(247 243 240);

    transition: all 0.3s ease;

    .icon-angle-down {
      font-size: 24px;
      color: rgb(124 102 85);
    }
  }

  // .questions-item__content Контейнер для скрытого текста
  &__content {
    display: grid;
    grid-template-rows: 0fr; // По умолчанию высота 0

    padding: 0 30px; // Боковые отступы

    opacity: 0;

    transition:
      grid-template-rows 0.4s ease-out,
      opacity 0.4s ease,
      padding 0.4s ease;
  }

  // .questions-item__text
  &__text {
    overflow: hidden; // Обязательно для анимации Grid
    line-height: 130%;

    p {
      margin: 0;
    }
  }
}
