.card-slide
	.card-product__slide.swiper
		.card-slide__slide
			.card-slide__image 
				+picture('img/pic/pref-05.png', 'image')
		.card-slide__slide
			.card-slide__image 
				+picture('img/pic/pref-05.png', 'image')
		.card-slide__slide
			.card-slide__image 
				+picture('img/pic/pref-05.png', 'image')
		.card-slide__slide
			.card-slide__image 
				+picture('img/pic/pref-05.png', 'image')
		.card-slide__slide
			.card-slide__image 
				+picture('img/pic/pref-05.png', 'image')
		.card-slide__slide
			.card-slide__image 
			+picture('img/pic/pref-05.png', 'image')
.card-product__thumb-wrapper
	.card-product__thumb-body
		.card-slide.card-product__thumb.card-thumb.swiper
			.card-slide__slide-thumb
				.card-slide__image-thumb
					+picture('img/pic/pref-05.png', 'image')
			.card-slide__slide-thumb
				.card-slide__image-thumb
					+picture('img/pic/pref-05.png', 'image')
			.card-slide__slide-thumb
				.card-slide__image-thumb
					+picture('img/pic/pref-05.png', 'image')
			.card-slide__slide-thumb
				.card-slide__image-thumb
					+picture('img/pic/pref-05.png', 'image')
			.card-slide__slide-thumb
				.card-slide__image-thumb
					+picture('img/pic/pref-05.png', 'image')
			.card-slide__slide-thumb
				.card-slide__image-thumb
					+picture('img/pic/pref-05.png', 'image')
		.navigation
			.navigation__prev.btn-prev
				.navigation__icon
					+iconfont('angle-left', 'icon')
			.navigation__next.btn-next
				.navigation__icon
					+iconfont('angle-right', 'icon')

