.card-slide
	.swiper.mySwiper2
		.swiper-wrapper
			.swiper-slide
				+picture('img/pic/pref-05.png', 'image')
			.swiper-slide
				+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image') 
	.slide-thumb
		.slide-thumb__body 
			.swiper.mySwiper  
				.swiper-wrapper
					.swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					.swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
		.swiper-button-next 
			+iconfont('angle-right', 'icon')
		.swiper-button-prev
			+iconfont('angle-left', 'icon')
			//- .navigation
				.navigation__prev.btn-prev
					.navigation__icon
						+iconfont('angle-left', 'icon')
				.navigation__next.btn-next
					.navigation__icon
						+iconfont('angle-right', 'icon')