.card-slide
	.swiper.mySwiper2
		.swiper-wrapper
			.swiper-slide
				+picture('img/pic/pref-05.png', 'image')
				.card-slide__overlay
					span.card-slide__icon
						span.icon-zoom-in
			.swiper-slide
				+picture('img/pic/pref-05.png', 'image')
				.card-slide__overlay
					span.card-slide__icon
						span.icon-zoom-in
			.swiper-slide
				+picture('img/pic/pref-05.png', 'image')
				.card-slide__overlay
					span.card-slide__icon
						span.icon-zoom-in
			//- .swiper-slide
				+picture('img/pic/pref-05.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in
			//- .swiper-slide
				+picture('img/pic/pref-05.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in
			//- .swiper-slide
				+picture('img/pic/pref-05.png', 'image')
				.review-card__overlay
					span.review-card__icon
						span.icon-zoom-in
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- 	.review-card__overlay
			//- 		span.review-card__icon
			//- 			span.icon-zoom-in
			//- .swiper-slide
			//- 	+picture('img/pic/pref-05.png', 'image')
			//- 	.review-card__overlay
			//- 		span.review-card__icon
			//- 			span.icon-zoom-in  
	.slide-thumb
		.slide-thumb__body 
			.swiper.mySwiper  
				.swiper-wrapper
					.swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					.swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					.swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
						+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image')
					//- .swiper-slide
					//- 	+picture('img/pic/pref-05.png', 'image') 
		.swiper-button-next 
			+iconfont('angle-right', 'icon')
		.swiper-button-prev
			+iconfont('angle-left', 'icon')