@use '../core/variables' as *;
@use '../core/mixins' as *;

.swiper-wrapper > .swiper-slide:not(.swiper-slide-active) {
  .main-slide__title {
    opacity: 0 !important;
    transition: opacity 0.9s ease-in-out;
  }

  .main-slide__text {
    opacity: 0 !important;
    transition: opacity 0.9s ease-in-out;
  }
}

.select > ._collapse:not(._show) {
  display: none;
}

//* button
.button {
  cursor: pointer;

  overflow: hidden;

  width: 100%;
  padding: 1rem 1rem 1rem 2.4rem;
  border-radius: 55px;

  font-weight: 400;

  background: rgb(236 104 29 / 100%);

  span {
    pointer-events: none;
    display: block;
    letter-spacing: -1%;
    white-space: nowrap;
  }

  @include screen-490 {
    height: 40px;
  }
}

//* ----------------------------------------------------------------------------
.return-button {
  cursor: pointer;

  position: fixed;
  z-index: 13;
  top: 50%;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 65px;
  margin-top: -17px;
  border-radius: 4px;

  background: #f2ebe4;

  i {
    &::before {
      font-weight: 400;
      text-shadow: none;
    }
  }

  ._button {
    cursor: pointer;

    position: relative;
    z-index: 13;
    left: 0;

    display: flex;
    justify-content: center;

    width: 35px;
    height: 35px;

    font-size: 3.8rem;

    background: transparent;

    transition: all 0.5s ease-in-out;
    img {
      width: 20px;
      height: 100%;
      // height: 35px;
    }

    &:hover {
      animation: fadeInBackground;
    }
  }

  &._rotate {
    ._button {
      scale: -1;
    }
  }
}

//* ----------------------------------------------------------------------------
.checkbox {
  // .checkbox__input
  &__input {
    display: none;

    &:checked + .checkbox__checked ._icon {
      scale: 1;
    }
  }

  &__checked {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;

    width: 16px;
    height: 16px;

    line-height: 130%;
  }

  // .checkbox__label
  &__label {
    cursor: pointer;

    display: flex;
    gap: 12px;
    align-items: flex-start;

    max-width: 66.1rem;

    font-size: 1.6rem;
    line-height: 110%;

    &::before {
      content: '';

      position: absolute;

      flex: 0 0 16px;

      width: 16px;
      height: 16px;

      background: $background;

      transition: box-shadow 0.3s ease-in-out;
    }

    ._icon {
      position: absolute;
      transform: translateX(-1px);
      scale: 0;

      display: block;

      width: 16px;
      height: 16px;

      color: $font-color-title;

      transition: scale 0.2s ease;

      &::before {
        font-size: 18px;
      }
    }

    a {
      font-weight: 600;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    @include screen-490 {
      font-size: 12px;
    }
  }
}

._clip-circle {
  @include min-960 {
    cursor: pointer;
    position: relative;
    z-index: 2;

    &::before {
      content: '';

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      color: #fff;

      background: linear-gradient(-45deg, #20193c, #020101 70%);
      clip-path: circle(var(--size) at var(--pos));

      transition: all 0.9s ease-in-out;
    }

    &:hover {
      &::before {
        --size: 200%;
      }
    }
  }
}

//* ------------------------- [Class _ibg] -------------------------------------

.t-h1 {
  font-size: 60px;
  line-height: 110%;

  @include minmax-490-1920 {
    font-size: calc(
      24px + (60 - 24) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 24px !important;
  }
}

.t-h2 {
  font-size: 50px;
  line-height: 110%;

  @include minmax-490-1920 {
    font-size: calc(
      22px + (50 - 22) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 22px !important;
  }
}
.t-h3 {
  font-size: 32px;
  line-height: 110%;

  @include minmax-490-1920 {
    font-size: calc(
      20px + (32 - 20) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 22px !important;
  }
}

.t-text-15 {
  font-size: 15px;
  letter-spacing: 0;

  @include minmax-490-1920 {
    font-size: calc(
      10px + (16 - 10) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 10px !important;
  }
}

.t-text-16 {
  font-size: 16px;
  line-height: 110%;

  @include minmax-490-1920 {
    font-size: calc(
      12px + (16 - 12) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 12px !important;
  }
}

.t-text-19 {
  font-size: 19px;
  line-height: 110%;
  letter-spacing: 0;

  @include minmax-490-1920 {
    font-size: calc(
      12px + (19 - 14) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 14px !important;
  }
}

.t-text-20 {
  font-size: 20px;
  line-height: 110%;

  @include minmax-490-1920 {
    font-size: calc(
      15px + (19 - 15) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 15px !important;
  }
}

.t-text-24 {
  font-size: 24px;
  line-height: 110%;

  @include minmax-490-1920 {
    font-size: calc(
      16px + (24 - 16) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 16px !important;
  }
}

.t-text-45 {
  font-size: 45px;

  @include minmax-490-1920 {
    font-size: calc(
      24px + (45 - 24) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 24px !important;
  }
}

//* ----------------------------------------------------------------------------
.button-container,
.form-question__button {
  button {
    background: transparent;
    transition: background 0.4s ease-in-out;
    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      background: silver !important;
      box-shadow: none;
    }
  }
}
