@use '../core/variables' as *;
@use '../core/mixins' as *;

.footer {
  // .footer__body
  &__body {
    margin: 0 auto;
    padding: 5rem 8rem;
    border-radius: 50px;

    font-family: VeranoSansLight, sans-serif;
    font-size: 1.6rem;
    color: rgb(145 145 145);

    background: rgb(20 20 20 / 100%);

    @include minmax-1024-1920 {
      padding: 5rem calc(20px + (80 - 20) * ((100vw - 1140px) / (1920 - 1140)));
    }

    @include screen-1140 {
      padding: 4rem 20px !important;
      border-radius: 30px;
    }

    @include minmax-490-1920 {
      font-size: calc(12px + (16 - 12) * ((100vw - 490px) / (1920 - 490)));
    }

    @include screen-490 {
      font-size: 12px;
    }
  }

  // .footer__content
  &__content {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 30px;
    justify-content: space-between;

    @include minmax-1024-1920 {
      gap: calc(15px + (30 - 15) * ((100vw - 1024px) / (1920 - 1024)));
    }

    @include screen-1140 {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      row-gap: 5rem;
    }

    @include screen-620 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-490 {
      // grid-template-columns: repeat(1, 1fr);
    }
  }

  // .footer__column
  &__column {
    position: relative;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include screen-490 {
        grid-column: 1 / 3;
      }
    }

    &:nth-child(2) {
      @include screen-490 {
        grid-column: 1 / 2;
      }
    }

    &:nth-child(3) {
      @include screen-620 {
        grid-column: 1 / 2;
      }

      @include screen-490 {
        grid-column: 2 / 3;
      }
    }
    &:nth-child(4) {
      @include screen-490 {
        grid-column: 1 / 3;
      }
    }

    &:nth-child(5) {
      @include screen-1140 {
        grid-column: 2 / 4;
      }

      @include screen-620 {
        grid-column: 1 / 3;
      }
    }
  }

  // .footer__logo
  &__logo {
    position: relative;

    display: block;

    width: auto;
    max-width: 206.79px;
    margin-bottom: 7.4rem;

    @include screen-375 {
      overflow: hidden;

      img {
        position: relative;
        max-width: none;
        object-fit: contain;
        object-position: left;
      }
    }
  }

  // .footer__offers
  &__offers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // .footer__links
  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    height: 100%;

    letter-spacing: -0.01px;
  }

  // .footer__offers-link
  &__offers-link {
    font-size: 14px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.01px;
    white-space: nowrap;

    @include screen-620 {
      white-space: wrap;
    }
  }

  // .footer__navigation
  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }

  // .footer__block-title
  &__block-title {
    display: flex;
    align-items: center;

    font-weight: 400;
    line-height: 110%;
    color: rgb(255 255 255 / 100%);

    .ct-button {
      margin-right: 0.5rem;
    }

    .ct-button__item {
      background-color: #fff;
      filter: contrast(170%);
    }
  }

  // .footer__navigation-link
  &__navigation-link {
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.01px;
    white-space: nowrap;
  }

  // .footer__navigation-catalog
  &__navigation-catalog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // .footer__contacts
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    border: 1px solid rgb(32 32 32 / 100%);
    border-radius: 20px;
  }

  // .footer__service
  &__service {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
  }
}

.contacts {
  // .contacts__item

  &__item {
    display: flex;
    flex: 1 1 auto;
    gap: 0.6rem;
    align-items: center;

    padding: 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(32 32 32 / 100%);
    }

    // .section-map__item--networks
    &--networks {
      display: flex;
      flex-direction: row;

      .contacts__text {
        flex-direction: column;
        gap: 0;
        align-items: start;
        justify-content: center;
      }

      @include screen-490 {
        flex-direction: row;
      }

      a {
        transition: transform 0.3s ease 0s;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
  // .contacts__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;
    border-radius: 50%;

    background: rgb(236 104 29);

    transition: transform 0.3s ease 0s;

    .icon {
      flex: 0 0 33px;
      font-size: 14px;
      color: #fff;
    }
  }

  // .contacts__text
  &__text {
    display: flex;
    gap: 0.9rem;
    align-items: center;

    &:hover {
      .contacts__icon {
        transform: scale(1.2);
      }
    }

    span {
      display: block;
      line-height: 110%;
      letter-spacing: -0.031rem;

      &:first-child {
        color: #fff;
        white-space: nowrap;
      }

      &:last-child {
        font-size: 13px;

        @include screen-375 {
          font-size: 11px;
        }
      }
    }
  }

  // .contacts__networks
  &__networks {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 33px;
      height: 33px;
      border-radius: 50%;

      font-size: 18px;
      color: #fff;

      background-color: #fff;
    }

    .icon-telegram-fly {
      background-color: rgb(4 155 229);
    }

    .icon-whats-app {
      background-color: rgb(40 167 27);
    }

    .icon-vk-brand {
      background-color: rgb(39 135 245);
    }
  }
}

.service {
  // .service__line
  &__line {
    padding: 8px 16px;

    &:nth-child(1) {
      border-radius: 40px;
      background: rgb(32 32 32 / 100%);

      span {
        color: rgb(76 76 76 / 100%);
      }
    }

    &:nth-child(2) {
      border-radius: 55px;
      background: rgb(236 104 29 / 100%);

      span {
        color: rgb(255 255 255 / 100%);
      }

      .service__icon {
        background: rgb(255 255 255 / 100%);
      }
    }

    &:nth-child(3) {
      border-radius: 55px;
      background: rgb(255 255 255 / 100%);

      span {
        color: rgb(89 86 83 / 100%);
      }

      .service__icon {
        color: #fff;
        background: rgb(89 86 83 / 100%);
      }
    }

    &:nth-child(4) {
      border: 1px solid rgb(32 32 32 / 100%);
      border-radius: 50px;
      background: rgb(20 20 20 / 100%);

      span {
        color: rgb(89 86 83 / 100%);
      }

      .service__icon {
        color: #fff;
        background: rgb(236 104 29 / 100%);
      }
    }

    .service__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .service__button
  &__button {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    span {
      display: block;

      font-family: VeranoSansLight, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 110%;
      color: rgb(89 86 83 / 100%);
      text-align: left;
      letter-spacing: -1%;
    }
  }

  // .service__icon
  &__icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }
}

.form-search {
  // .form-search__search-box
  &__search-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .form-search__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;
    border-radius: 50%;

    background: rgb(236 104 29 / 100%);

    .icon {
      font-size: 18px;
      color: #fff;
    }
  }
}
