@use '../core/variables.scss' as *;
@use '../core/mixins.scss' as *;
@use '../core/extend.scss' as *;

.header {
  position: relative;

  width: 100%;

  font-family: $font-family-default;
  font-weight: 400;
  text-shadow: none;

  background: transparent;

  // .header__container
  &__container {
    width: 100%;
  }

  // .header__burger-menu
  &__burger-button {
    transform: translateY(-1px);
    display: flex;
    align-items: center;
    margin-left: 2.4rem;

    @include min-960 {
      display: none;
    }
  }

  // .header__content
  &__content {
    position: relative;
    z-index: 8;

    display: grid;
    grid-template-columns: auto auto min-content;
    gap: 2rem;

    width: 100%;
    padding: 3rem 0;

    @include screen-768 {
      grid-template-columns: auto min-content;
    }

    @include screen-490 {
      gap: 1rem;
    }
  }

  // .header__column
  &__column {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      display: flex;
      align-items: center;
    }

    &:nth-child(2) {
      justify-self: end;

      @include screen-768 {
        display: none;
      }
    }

    &:nth-child(3) {
      z-index: 0;
      display: flex;
      gap: 1.6rem;
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    width: auto;
  }

  // .header__text
  &__text {
    display: flex;
    align-items: flex-end;

    max-width: 27rem;
    padding-left: 1rem;

    font-family: $font-family-title;
    font-size: 22px;
    line-height: 1;
    color: rgb(187 214 255);
    text-transform: uppercase;

    @include minmax-960-1920 {
      font-size: calc(18px + (22 - 18) * ((100vw - 960px) / (1920 - 960)));
    }

    @include screen-960 {
      max-width: 22rem;
      font-size: 18px;
    }

    span {
      font-weight: 400;
    }
  }

  // .header__menu
  &__menu {
    height: 100%;
    font-size: 1.6rem;
  }

  // .header__search
  &__search,
  &__login {
    overflow: hidden;
    padding: 1.6rem;
    border-radius: 50%;
    background: rgb(245 239 235 / 100%);
  }

  // .header__cart
  &__cart {
    overflow: hidden;
    padding: 1.6rem;
    border-radius: 50%;
    background: rgb(236 104 29 / 100%);
  }

  // .header__phone
  &__phone {
    a {
      line-height: 100%;
    }

    span {
      white-space: nowrap;

      @include minmax-690-1920 {
        font-size: calc(12px + (16 - 12) * ((100vw - 690px) / (1920 - 690)));
      }
    }
  }

  // .header__icons
  &__icons {
    display: flex;
    gap: 1rem;
  }

  // .header__menu-items
  &__menu-items {
    user-select: none;

    display: flex;
    align-items: center;

    height: 100%;

    text-transform: uppercase;

    transition: all 0.4s ease 0s;
  }

  // .header__item
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 2rem;

      @include screen-1140 {
        margin-right: 1rem;
      }
    }
  }

  // .header__link-key
  &__link-key {
    cursor: pointer;
    text-shadow: none;

    span {
      white-space: nowrap;
      opacity: 0.5;
      transition: opacity 0.3s ease;

      @include minmax-690-1920 {
        font-size: calc(12px + (16 - 12) * ((100vw - 690px) / (1920 - 690)));
      }
    }

    &.hover {
      .header__sub-item {
        pointer-events: auto;
        transform: translateY(0);
        opacity: 0.5;
      }
    }

    @include min-1024 {
      &:hover {
        .header__sub-item {
          pointer-events: auto;
          transform: translateY(0);
          opacity: 0.7;
        }
      }
    }

    // &:hover
  }

  // .header__sub-item
  &__sub-item {
    width: auto;
    font-size: 1.4rem;
    font-weight: 300;

    @include min-690 {
      pointer-events: none;

      position: absolute;
      top: 16px;
      left: 0;
      transform: translateY(50px);

      padding: 20px;

      opacity: 0;
      background: rgb(36 52 68 / 93%);
      backdrop-filter: blur(80px);
      box-shadow: 2px 2px 5px #000000c9;

      transition:
        opacity 0.5s ease,
        transform 0.4s ease;
    }
  }

  // .header__sub-link
  &__sub-link {
    cursor: pointer;
    display: block;

    span {
      text-transform: lowercase;
      white-space: nowrap;
      opacity: 0.8;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.el-community {
  display: flex;
  align-items: center;

  // .el-community__contact
  &__contact {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
    transition: all 0.4s ease-in-out;
  }
}
