@use '../core/variables.scss' as *;
@use '../core/mixins.scss' as *;

.header {
  position: relative;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  font-family: $font-family-default;

  // .header__burger-menu
  &__burger-button {
    display: flex;
    align-items: center;

    @include min-960 {
      display: none;
    }
  }

  // .header__search
  &__search {
    pointer-events: none;

    position: relative;
    z-index: 8;

    display: grid;
    grid-template-rows: 0fr;

    text-align: center;

    opacity: 0;
    filter: drop-shadow(0 1px 80px rgb(0 0 0 / 30%));

    transition:
      grid-template-rows 0.4s,
      opacity 0.3s ease-in-out;
  }

  // .header__collapse
  &__collapse {
    // overflow: hidden;
    min-height: 0;
  }

  // .header__content
  &__content {
    position: relative;
    z-index: 8;

    display: grid;
    grid-template-columns: auto auto min-content;
    gap: 2rem;

    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 1.85rem 2.3rem;
    border-radius: 5rem;

    background-color: hsl(0deg 0% 100%);

    @include screen-960 {
      grid-template-columns: auto min-content min-content;
    }

    @include screen-320 {
      grid-template-columns: 1fr min-content;
    }
  }

  // .header__column
  &__column {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      display: flex;
      align-items: center;

      @include screen-320 {
        display: none;
      }
    }

    &:nth-child(2) {
      justify-self: end;

      @include screen-960 {
        display: none;
      }
    }

    &:nth-child(3) {
      z-index: 0;
      gap: 1.6rem;

      @include screen-320 {
        justify-content: space-between;
      }
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    width: auto;

    @include screen-375 {
      overflow: hidden;
      width: 45px;

      img {
        position: relative;
        max-width: none;
        object-fit: contain;
        object-position: left;
      }
    }
  }

  // .header__menu
  &__menu {
    height: 100%;
  }

  // .header__icon-flower
  &__icon-flower {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 50%;

    background: rgb(236 104 29 / 100%);

    img {
      width: 11px;
      height: 11px;
    }
  }

  // .header__search
  &__search-button,
  &__login,
  &__cart {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.3rem;
    height: 4.3rem;
    padding: 1rem;
    border-radius: 50%;

    font-size: 2.2rem;
    color: rgb(89 86 83 / 100%);

    background: rgb(245 239 235 / 100%);
  }

  &__search-button {
    cursor: pointer;
    position: relative;

    .plus {
      transform: scale(0) rotate(45deg);
      font-size: 3rem;
      opacity: 0;
    }

    .plus,
    .search {
      pointer-events: none;
      position: absolute;
      color: #503c2a;
      transition:
        opacity 0.3s,
        transform 0.3s ease-out;
    }
  }

  // .header__cart
  &__cart {
    background: rgb(236 104 29 / 100%);
    .icon {
      color: #fff;
    }
  }

  // .header__phone
  &__phone {
    .icon {
      display: none;

      @include screen-490 {
        display: block;
      }
    }

    a {
      display: flex;
      align-items: center;
      line-height: 100%;

      @include screen-490 {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 4.3rem;
        height: 4.3rem;
        padding: 1rem;
        border-radius: 50%;

        font-size: 2.2rem;
        color: rgb(89 86 83 / 100%);

        background: rgb(245 239 235 / 100%);
      }
    }

    span {
      line-height: 140%;
      white-space: nowrap;

      @include minmax-690-1920 {
        font-size: calc(12px + (16 - 12) * ((100vw - 690px) / (1920 - 690)));
      }

      @include screen-490 {
        display: none;
      }
    }
  }

  // .header__menu-items
  &__menu-items {
    user-select: none;

    display: flex;
    align-items: center;

    height: 100%;

    transition: all 0.4s ease 0s;
  }

  // .header__item
  &__item {
    position: relative;

    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;

    height: 100%;

    li {
      font-family: $font-family-default;
      font-size: 16px;
      font-weight: 400;
      font-style: regular;
      line-height: 110%;
      color: rgb(89 86 83 / 100%);
      text-align: left;
      letter-spacing: 0%;
    }

    &:not(:last-child) {
      margin-right: 2rem;

      @include screen-1140 {
        margin-right: 1rem;
      }
    }
  }

  // .header__link-key
  &__link-key {
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 100%;

    span {
      pointer-events: none;

      line-height: 140%;
      color: rgb(89 86 83 / 100%);
      white-space: nowrap;

      transition: color 0.3s ease;

      @include minmax-690-1920 {
        font-size: calc(12px + (16 - 12) * ((100vw - 690px) / (1920 - 690)));
      }
    }

    &:hover {
      span {
        color: $color !important;
      }
    }
  }

  // .header__ct-button
  &__ct-button {
    transform: translateY(-0.1px);
  }
}

.ct-button {
  position: relative;

  overflow: hidden;
  display: block;

  width: 9px;
  height: 9px;

  &__items {
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: block;

    width: 9px;
    height: 9px;
  }

  // .ct-button__item
  &__item {
    pointer-events: none;

    position: absolute;

    display: block;

    width: 3px;
    height: 3px;

    background: rgb(89 86 83 / 100%);

    &:nth-child(1) {
      transform: translate(0, 0);
    }

    &:nth-child(2) {
      transform: translate(5px, 0);
    }

    &:nth-child(3) {
      transform: translate(0, 5px);
    }

    &:nth-child(4) {
      transform: translate(5px, 5px);
    }
  }
}

.header-container {
  &._active {
    .header__search {
      pointer-events: auto;
      grid-template-rows: 1fr;
      opacity: 1;
    }

    .header__search-button {
      .search {
        transform: scale(0);
        opacity: 0;
      }

      .plus {
        transform: scale(1) rotate(45deg);
        opacity: 1;
      }
    }
  }
}
