.section-map
	.section-map__body
		.section-map__content 
			.section-map__column
				.section-map__item
					.section-map__icon
						+iconfont('phone-call', 'icon')
					.section-map__text
						span.t-text-20 +7 906 849-97-43
						span.t-text-13 Позвоните нам
				.section-map__item
					.section-map__icon
						+iconfont('location', 'icon')
					.section-map__text
						span.t-text-20 г. Оренбург 
						span.t-text-13 Смотреть все адреса 
				.section-map__item.section-map__item--networks
					.section-map__networks
						a(href="https://t.me/" target="_blank" data-letters="Телеграм")
							+iconfont('telegram-fly', 'icon') 
						a(href="https://vk.com/" target="_blank" data-letters="В контакте")
							+iconfont('vk-brand', 'icon')
					.section-map__text
						span.t-text-20 Мы в соц. сетях
						span.t-text-13 Пишите нам
				.section-map__item
					.section-map__image
						img(src="/img/icons/icon-05.png" alt="Иконка")
					.section-map__text
						span.t-text-20 Не нашли букет?
						span.t-text-13 Мы вам поможем
			.section-map__column
				.section-map__image-map
					#map
						<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
						<script>
						ymaps.ready(function() {
							// Инициализируем карту в вашем блоке
							var map = new ymaps.Map('map', {
								center: [55.1089, 36.5979], // Центр Обнинска
								zoom: 13,
								controls: ['zoomControl']
							});

							// Точные координаты для ваших адресов (получены через геокодер)
							var locations = [
								{
									coords: [55.106576, 36.608353], // ул. 16 линия, 4а
									name: "ул. 16 линия, 4а",
									address: "г. Обнинск, ул. 16 линия, 4а"
								},
								{
									coords: [55.117455, 36.635794], // ул. Салмышская, 46б
									name: "ул. Салмышская, 46б",
									address: "г. Обнинск, ул. Салмышская, 46б"
								},
								{
									coords: [55.131276, 36.625689], // ул. Пролетарская 288/4 к1
									name: "ул. Пролетарская, 288/4 к1",
									address: "г. Обнинск, ул. Пролетарская, 288/4 к1"
								}
							];

							// Создаем коллекцию меток
							var placemarks = new ymaps.GeoObjectCollection();

							// Добавляем каждую метку
							locations.forEach(function(location, index) {
								var placemark = new ymaps.Placemark(location.coords, {
									balloonContent: `
										<div style="padding: 10px;">
											<strong>${location.name}</strong><br>
											${location.address}
										</div>
									`,
									hintContent: location.name
								}, {
									// Стиль метки
									preset: 'islands#redIcon',
									iconColor: '#ff0000'
								});

								placemarks.add(placemark);
							});

							// Добавляем все метки на карту
							map.geoObjects.add(placemarks);

							// Подгоняем масштаб чтобы все точки были видны
							if (placemarks.getLength() > 0) {
								map.setBounds(placemarks.getBounds(), {
									checkZoomRange: true,
									zoomMargin: 50
								});
							}

							// Отключаем масштабирование колесиком (опционально)
							map.behaviors.disable('scrollZoom');
						});
					</script>
	//- iframe.section-map__iframe( src="https://yandex.ru/map-widget/v1/? um=constructor%3Axxxxxxxxxxxxxxxxxxxx&source=constructor" width="100%" height="400" frameborder="0") 

