.section-achievements
	.section-achievements__body 
		.section-achievements__content 
			.section-achievements__column
				.section-achievements__label 
					.section-achievements__text покупатели
					.section-achievements__icon 
						+iconfont('user', 'icon')
				.section-achievements__info.t-h1 12.000+
				.section-achievements__footer Довольных покупателей
			.section-achievements__column
				.section-achievements__label 
					.section-achievements__text отзывы
					.section-achievements__icon 
						+iconfont('star', 'icon')
				.section-achievements__info.t-h1 4.9+
				.section-achievements__footer Средняя оценка
			.section-achievements__column
				.section-achievements__label 
					.section-achievements__text снова с нами
					.section-achievements__icon 
						+iconfont('heart-like', 'icon')
				.section-achievements__info.t-h1 78%
				.section-achievements__footer Возвращаются снова
			.section-achievements__column
				.section-achievements__label
					.section-achievements__text опыт 
					.section-achievements__image
						+picture('img/icons/icon-logo.png', 'image')
					.section-achievements__icon 
						+iconfont('heart-like', 'icon')
				.section-achievements__info.t-h1 3 ГОДА 
				.section-achievements__footer Создаем букеты каждый день