.section-about
  .section-about__body 
    .section-about__bread-crumbs 
      nav.bread-crumbs 
        ul.bread-crumbs__list 
          li 
            a.bread-crumbs__link.link_underline-lr(href=getWebRoot(filename) + "index.html" aria-label="home") 
              span Главная 
          li -
          li 
            span.bread-crumbs__item О компании
    .section-about__title.t-h1 О компании
    .section-about__content
      .section-about__column 
        .section-about__image 
          +picture('img/pic/pic-01.png', 'image')
      .section-about__column 
        .about-info 
          .about-info__content 
            .about-info__text Добро пожаловать в «Букеты-Ракеты» — магазин, где цветы превращаются в праздник!
            .about-info__title.t-h2 Мы верим, что букет — это больше, чем просто композиция
            .about-info__banner
              .about-info__column
                .about-info__image 
                  +picture('img/pic/pic-02.png', 'image')
                .about-info__image 
                  +picture('img/pic/pic-03.png', 'image')
                .about-info__image 
                  +picture('img/pic/pic-04.png', 'image')
              .about-info__column
                .about-info__sub-text.t-h4 Это эмоции, признания, благодарность и маленькие чудеса, которые делают жизнь ярче
            .about-info__footer 
              .about-info__text Именно поэтому мы собрали команду флористов, которые умеют превращать цветы в настоящие «ракеты счастья»