.section-product-card
	.section-product-card__body 
		.section-product-card__bread-crumbs 
			nav.bread-crumbs 
				ul.bread-crumbs__list 
					li 
						a.bread-crumbs__link.link_underline-lr(href=getWebRoot(filename) + "index.html" aria-label="home") 
							span Главная 
					li -
					li 
						span.bread-crumbs__item Каталог 
		.section-product-card__title.t-h1 Каталог товаров	
			.section-product-card__content 
