.section-info
	.section-info__body
		.section-info__content 
			.info-content.section-info__column 
				.info-content__text-group 
					h2.info-content__title.t-h2 
						span Почему клиенты 
						span выбирают нас
					.info-content__button-container
						a(href=linkTo('catalog', filename)).info-content__button.button
							span.t-text-15 Перейти в каталог
							.info-content__icon
								+iconfont('arrow-right', 'icon') 
						a(href="").info-content__button.button.accent
							span.t-text-15 О компании
							.info-content__icon
								+iconfont('arrow-right', 'icon') 
			.info-content.section-info__column 
				.info-content__card 
					.info-content__item 
						.info-content__icon-img
							img(src="img/icons/icon-01.png" alt="Иконка")
						.info-content__label.t-text-20 Авторский стиль 
					.info-content__item 
						.info-content__text.t-text-15 Тут будет небольшое пояснение преимущества
				.info-content__card 
					.info-content__item 
						.info-content__icon-img
							img(src="img/icons/icon-01.png" alt="Иконка")
						.info-content__label.t-text-20 Свежие цветы
					.info-content__item 
						.info-content__text.t-text-15 Тут будет небольшое пояснение преимущества
				.info-content__card 
					.info-content__item 
						.info-content__icon-img
							img(src="img/icons/icon-01.png" alt="Иконка")
						.info-content__label.t-text-20 Авторский стиль
					.info-content__item 
						.info-content__text.t-text-15 Тут будет небольшое пояснение преимущества
				.info-content__card 
					.info-content__item 
						.info-content__icon-img
							img(src="img/icons/icon-01.png" alt="Иконка")
						.info-content__label.t-text-20 Свежие цветы
					.info-content__item 
						.info-content__text.t-text-15 Тут будет небольшое пояснение преимущества
