.section-influencers
	.section-influencers__body 
		.section-influencers__content
			.section-influencers__column 
				.section-influencers__bg-image
					+picture('img/pic/bg-img-06.png', 'image') 
				.section-influencers__info 
					.section-influencers__title
						span.t-h2 Инфлюенсеры,
						span.t-h2 которые нам&nbsp;доверяют
					.section-influencers__navigation
						include @/pug/chunks/navigation-slide
			.section-influencers__column 
				.section-influencers__slide.swiper.influencers-slide
					.swiper-wrapper
						.section-influencers__image.swiper-slide
							+picture('img/pic/inf-01.png', 'image')
						.section-influencers__image.swiper-slide
							+picture('img/pic/inf-02.png', 'image')
						.section-influencers__image.swiper-slide
							+picture('img/pic/inf-03.png', 'image')
						.section-influencers__image.swiper-slide
							+picture('img/pic/inf-01.png', 'image')
						.section-influencers__image.swiper-slide
							+picture('img/pic/inf-02.png', 'image')
						.section-influencers__image.swiper-slide
							+picture('img/pic/inf-03.png', 'image')