.section-banner
	.section-banner__content
		a(href="https://show-fireworks.ru/" target="_blank" style="display: inline-block; z-index: 1000; position: relative;")
			+picture('img/banner_desk.png', 'image')