.section-invitation
	.section-invitation__body
		.section-invitation__content  
			.section-invitation__column 
				.section-invitation__image 
					+picture('img/pic/perf-03.png', 'image') 
			.section-invitation__column 
				.section-invitation__background-img 
					img(src="/img/pic/bg-img-03.png" alt="image")
					img(src="/img/pic/bg-img-02.png" alt="image")
				.section-invitation__text.t-text 
					p.t-text-19 Зарегистрируйтесь сейчас
					p.t-text-45 и&nbsp;получите 300</br>бонусных баллов
				.section-invitation__button.button
					span.t-text-16 Получить бонусы
					.section-invitation__icon
						+iconfont('arrow-right', 'icon') 