.section-perform 
  .section-perform__body 
    .section-perform__content 
      .section-perform__column.bp-1 
        hgroup.section-perform__group   
          h1.section-perform__title.t-h1 
            span Доставим чувства 
            span с космической
            span скоростью 
        .section-perform__row
          .section-perform__image 
            +picture('img/pic/perf-02.png', 'image')
          .section-perform__info 
            .section-perform__text Новая вдохновляющая коллекция&nbsp;2025
            a(href="").section-perform__button.button
              span.t-text-16 Перейти в каталог 
              .ct-button
                span.ct-button__item
                span.ct-button__item
                span.ct-button__item
                span.ct-button__item
        .section-perform__footer 
          .section-perform__footer-col
            .section-perform__icon
              img(src="/img/icons/icon-01.png" alt="Иконка")
            .section-perform__footer-text Авторский стиль
          .section-perform__footer-col
            .section-perform__icon
              img(src="/img/icons/icon-02.png" alt="Иконка")
            .section-perform__footer-text Свежие цветы
          .section-perform__footer-col
            .section-perform__icon
              img(src="/img/icons/icon-03.png" alt="Иконка")
            .section-perform__footer-text Для&nbsp;любого повода
      .section-perform__column
        .section-perform__image(data-da="bp-1" data-da-position="1" data-da-resolution="690")  
          +picture('img/pic/perf-01.png', 'image')
