.section-marketing
	.section-marketing__body 
		.section-marketing__content
			.section-marketing__column 
				.section-marketing__item
					.section-marketing__row
						.section-marketing__icon 
							+picture('img/icons/icon-06.png', 'image')
						.section-marketing__title Свежесть и&nbsp;качество
					.section-marketing__row
						.section-marketing__text всё проверяем лично
				.section-marketing__item
					.section-marketing__row
						.section-marketing__icon 
							+picture('img/icons/icon-07.png', 'image')
						.section-marketing__title Доставкав день заказа
					.section-marketing__row
						.section-marketing__text праздник не ждёт
				.section-marketing__item
					.section-marketing__row
						.section-marketing__icon 
							+picture('img/icons/icon-01.png', 'image')
						.section-marketing__title Композициина любой бюджет
					.section-marketing__row
						.section-marketing__text от простых и стильных до больших вау-букетов
				.section-marketing__item
					.section-marketing__row
						.section-marketing__icon 
							+picture('img/icons/icon-08.png', 'image')
						.section-marketing__title Индивидуальные заказы
					.section-marketing__row
						.section-marketing__text соберём букет на ваш вкус или привезём даже самый редкий цветок под заказ
			.section-marketing__column
				.section-marketing__info
					p Мы внимательно подходим к выбору: закупаем только свежие цветы, бережно транспортируем и храним их.Для нас важно, чтобы каждая композиция радовалас первой минуты и сохраняла красоту как можно дольше.
					p Мы — дружелюбные, современные и открытые. Нам доверяют, потому что мы делаем всё с любовьюи вниманием к деталям.
					p Наша миссия — помогать вам выражать чувстваи создавать моменты счастья. С нами легко радовать близких, удивлять любимых и дарить праздник без повода.