@use "variables.scss" as *;
@use "mixins.scss" as *;
@include font-face("icon-set", "icon-set", 400, "normal");
@include font-face("SteticaMedium", "SteticaMedium", 400, "normal");
@include font-face("SteticaRegular", "SteticaRegular", 400, "normal");
@include font-face("VeranoSans", "VeranoSans", 400, "normal");
@include font-face("VeranoSansLight", "VeranoSansLight", 400, "normal");
