@use 'variables-icon' as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1q423w');
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1q423w#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1q423w')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1q423w')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1q423w##{$icomoon-font-family}')
      format('svg');
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: '#{$icomoon-font-family}' !important;
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1;
  text-transform: none;
  letter-spacing: 0;
}

.icon-contacts {
  &::before {
    content: $icon-contacts;
  }
}
.icon-cross-middle {
  &::before {
    content: $icon-cross-middle;
  }
}
.icon-trash {
  &::before {
    content: $icon-trash;
  }
}
.icon-user-profile {
  &::before {
    content: $icon-user-profile;
  }
}
.icon-information-outline {
  &::before {
    content: $icon-information-outline;
  }
}
.icon-arrow-right {
  &::before {
    content: $icon-arrow-right;
  }
}
.icon-delivery {
  &::before {
    content: $icon-delivery;
  }
}
.icon-catalog {
  &::before {
    content: $icon-catalog;
  }
}
.icon-angle-left {
  &::before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &::before {
    content: $icon-angle-right;
  }
}
.icon-star {
  &::before {
    content: $icon-star;
  }
}
.icon-rub {
  &::before {
    content: $icon-rub;
  }
}
.icon-whats-app {
  &::before {
    content: $icon-whats-app;
  }
}
.icon-vk-brand {
  &::before {
    content: $icon-vk-brand;
  }
}
.icon-telegram-fly {
  &::before {
    content: $icon-telegram-fly;
  }
}
.icon-cart {
  &::before {
    content: $icon-cart;
  }
}
.icon-phone-call {
  &::before {
    content: $icon-phone-call;
  }
}
.icon-angle-down {
  &::before {
    content: $icon-angle-down;
  }
}
.icon-vk-draw {
  &::before {
    content: $icon-vk-draw;
  }
}
.icon-telegram-draw {
  &::before {
    content: $icon-telegram-draw;
  }
}
.icon-whatsapp-draw {
  &::before {
    content: $icon-whatsapp-draw;
  }
}
.icon-search {
  &::before {
    content: $icon-search;
  }
}
.icon-local_grocery_store {
  &::before {
    content: $icon-local_grocery_store;
  }
}
.icon-minus {
  &::before {
    content: $icon-minus;
  }
}
.icon-plus {
  &::before {
    content: $icon-plus;
  }
}
.icon-location {
  &::before {
    content: $icon-location;
  }
}
