%graystyle {
  filter: grayscale(1);
  filter: grayscale(1);

  transition: all 0.1s ease 0s;

  -o--filter: grayscale(1);
  -moz-filte: grayscale(1);
}

%graystyleoff {
  filter: grayscale(0);
  filter: grayscale(0);

  transition: all 0.3s ease 0s;

  -o--filter: grayscale(0);
  -moz-filte: grayscale(0);
}
