/* stylelint-disable annotation-no-unknown */
@use 'sass:string'; // Импортируем модуль string
$icomoon-font-family: 'icon-set' !default;
$icomoon-font-path: '/fonts' !default;

$icon-rub: string.unquote('"\\f159"');
$icon-trash: string.unquote('"\\e938"');
$icon-user-profile: string.unquote('"\\e971"');
$icon-search: string.unquote('"\\e905"');
$icon-local_grocery_store: string.unquote('"\\e904"');
$icon-minus: string.unquote('"\\e908"');
$icon-plus: string.unquote('"\\e911"');
$icon-whats-app: string.unquote('"\\f232"');
$icon-vk-brand: string.unquote('"\\f189"');
$icon-telegram-fly: string.unquote('"\\e91b"');
$icon-cart: string.unquote('"\\e903"');
$icon-phone-call: string.unquote('"\\e914"');
$icon-angle-down: string.unquote('"\\f107"');
$icon-vk-draw: string.unquote('"\\e900"');
$icon-telegram-draw: string.unquote('"\\e901"');
$icon-whatsapp-draw: string.unquote('"\\e902"');
$icon-location: string.unquote('"\\e909"');
$icon-arrow-right: string.unquote('"\\e950"');
