@use 'variables' as *;
@use 'mixins.scss' as *;

//* ----------------------------------------------------------------------------

.line-through {
  text-decoration: line-through;
  opacity: 0.5;
}

.gradient-loader {
  background-image:
    radial-gradient(
      ellipse at bottom center,
      rgb(36 52 68 / 37%) 30%,
      transparent
    ),
    radial-gradient(
      ellipse at 10% 0,
      rgb(23 27 28 / 87.7%) 25%,
      rgb(238 238 238 / 0%) 70%,
      transparent 100%
    ),
    radial-gradient(
      ellipse at 110% 100%,
      rgb(23 27 28 / 73.3%) 25%,
      rgb(238 238 238 / 0%) 70%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0 100%,
      $color 0,
      rgb(36 52 68 / 37%) 30%,
      transparent
    ),
    radial-gradient(circle at 100% 0, $color, $color 30%, transparent),
    radial-gradient(ellipse at 30% 2%, #171b1c 0, $color 100%, transparent);
}

.link_split {
  position: relative;

  display: inline-block;

  line-height: 1;
  white-space: nowrap;

  outline: 0;

  transition: color 0s 0.3s;

  &::before,
  &::after {
    content: attr(data-letters);

    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;

    transition:
      color 0.3s,
      opacity 0.3s,
      transform 0.5s;
  }

  &::before {
    clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 65%);
  }

  &::after {
    clip-path: polygon(0 65%, 100% 30%, 100% 100%, 0 100%);
  }

  &:hover {
    color: transparent;
    text-shadow: none;
    transition: none;

    &::before {
      transform: translate3d(0, -2px, 0);
    }

    &::after {
      transform: translate3d(0, 2px, 0);
    }

    &::before,
    &::after {
      transition:
        color 0.3s,
        transform 0.3s;
    }
  }
}

.link_underline-lr {
  position: relative;
  transition: color 0.3s ease-in-out;

  span {
    pointer-events: none;
    position: relative;
    &::before {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 0;
      height: 1px;

      background-color: $color;

      transition: width 0.3s ease-in-out;
    }
  }

  &:hover {
    span {
      opacity: 1;
      &::before {
        width: 100%;
      }
    }
  }
}
