//* - [Variables] -
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1440px;
$headerHeight: 4rem;
$footerHeight: 4rem;
$min-height: calc(100% - ($headerHeight + $footerHeight));

//* - [Font Variables] -
$font-path: '../fonts';
$font-family-default: 'VeranoSans', sans-serif;
$font-family-title: 'SteticaMedium', sans-serif;
$font-family-secondary: 'SteticaRegular';
$font-weight-default: 400;
$font-size: 1.6rem;

//* - [Font color] -
$font-color-title: hsl(220deg 35% 35%);
$font-color-secondary: rgb(250 250 255);

//* - [Background Color] -
$background: rgb(255 255 255);
$color: rgb(236 104 29 / 100%);
$color-secondary: rgb(31 30 29 / 100%);
$border-color: rgb(94 77 168);

//* - [Shadow] -
$boxShadow: 0px 0px 2px 3px rgb(4 217 255 / 69.9%);
$BlackShadow: rgb(9 17 22);
$filter: drop-shadow(1px 0px 3px rgb(32 25 71)) invert(5%);
//* -
$color-title: rgb(143 242 255);
$text-selection: rgb(0 84 99 / 24.7%);
$text-color-selection: rgb(155 153 153);
//* -
$border-button-color: rgb(131 169 224);

:root {
  --width: calc(0px + (260 - 0) * ((100vw - 320px) / (1024 - 320)));
  //* -
  --font-color-default: rgb(0 0 0);
  --font-color-second: rgb(77 91 206);
  //* - [Background] -
  --background-color: rgb(210 242 255);
  --background-second: rgb(2 10 16);
  --background-selected: rgb(43 45 65 / 33.7%);
  --background-transparent: rgb(14 14 19 / 85.5%);
  //* - [Scrollbar] -
  --selected-color: rgb(94 77 168);
  --thumb-color: rgb(149 186 224);
  --background-hover: rgb(94 77 168 / 24%);
  --scrollbar-thumb-color: rgb(36 52 68);
  //* - [Other colors] -
  --border-color: rgb(255 184 181);
  // -------------------------------------------------------------------------
  --pos: center center;
  --size: 0;
  --inset-top: 0;
  --inset-right: 100%;
  --inset-bottom: 100%;
  --inset-left: 0;
  // -------------------------------------------------------------------------
  --stripe-width: 10px;
  --nav-marker-border: rgb(59 134 134);
  --sidebar-width: 28.5rem;
  --duration: 0.3s;
  --button-size: 4rem;
  --mob-expanded-width: 320px;
  --mob-collapsed-width: 4rem;
}

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
