@use '../core/variables' as *;
@use '../core/mixins' as *;

.page {
  // .page__menu-list
  &__menu-list {
    pointer-events: none;

    position: fixed;
    z-index: 18;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    transition: all 0.3s ease-in-out;
  }

  // .page__header
  &__header {
    position: fixed;
    z-index: 17;
    top: 0;
    left: 0;

    width: 100%;
  }

  // .page__main-content
  &__main-content {
    position: relative;
    z-index: 1;
    inset: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
  }

  // .page__modal-request
  &__form-request {
    pointer-events: none;

    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    opacity: 0;
    background: rgb(247 243 240 / 24%);
    filter: drop-shadow(0 0 10px #3f3f3f);
    backdrop-filter: blur(4px);

    transition: opacity 0.3s ease-in-out;

    &.is-open {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.main-content {
  position: relative;

  // .main-content__background
  &__background-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;

    img {
      position: relative;
      max-width: none;
      &:nth-child(1) {
        top: 0;
        left: 0;
        transform: translate(-180px, -60px);
      }

      &:nth-child(2) {
        right: -50%;
        bottom: 0;
        transform: rotate(358deg);

        margin-top: -50rem;
        margin-left: -19rem;
      }
    }
  }

  // .main-content__section
  &__section {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__footer {
    position: relative;
    z-index: 99;
    overflow: hidden;
    padding-block: 5rem 2rem;

    @include screen-490 {
      padding-block: 3rem 2rem;
    }
  }
}
