@use '../core/variables' as *;
@use '../core/mixins' as *;

.scroll-container {
  pointer-events: none;

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: #00ffea34;
}

.page {
  // .page__form-request
  &__form-questions,
  &__form-request,
  &__order-call {
    pointer-events: none;

    position: fixed;
    z-index: 17;
    top: 0;

    overflow-x: hidden;
    display: flex;

    width: 100%;
    height: 100vh;

    opacity: 0;
    background-color: #24344496;
    backdrop-filter: blur(40px);

    transition: opacity 0.3s ease-in-out;

    &.is-open {
      opacity: 1;
      .form-question,
      .form-request,
      .order-call {
        pointer-events: auto;
        top: 0;
        opacity: 1;
      }
    }
  }

  // .page__menu-list
  &__menu-list {
    pointer-events: none;

    position: fixed;
    z-index: 18;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    transition: all 0.3s ease-in-out;
  }

  // .page__header
  &__header {
    position: fixed;
    z-index: 17;
    top: 0;
    left: 0;

    width: 100%;
  }

  // .page__main-content
  &__main-content {
    position: relative;
    z-index: 8;
    inset: 0;

    width: 100%;
    height: 100%;
  }
}

.main-content {
  overflow: hidden;
  visibility: visible;

  // .main-content__background
  &__background-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;

    img {
      position: relative;
      &:nth-child(1) {
        top: 0;
        left: 0;
        transform: translate(-180px, -60px);
      }

      &:nth-child(2) {
        right: -50%;
        bottom: 0;
        transform: rotate(358deg);

        margin-top: -50rem;
        margin-left: -19rem;
      }
    }
  }

  // .main-content__section
  &__section {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__footer {
    position: relative;
    overflow: hidden;
    padding-block: 5rem 2rem;

    @include screen-490 {
      padding-block: 3rem 2rem;
    }
  }
}

//* - [ @keyframes Animations ] -

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
