
form.form-search#quick-search(action="#" method="post")
	.form-search__search-box
		label(for="site-search")
		input.form-search__search.input#site-search(type="text" name="search" placeholder="Поиск по сайту..." autocomplete="off")
		button.form-search__search-button(type="submit")
			i.icon-search._search