@font-face {
  font-family: 'icon-set';
  src:  url('fonts/icon-set.eot?anpjvq');
  src:  url('fonts/icon-set.eot?anpjvq#iefix') format('embedded-opentype'),
    url('fonts/icon-set.ttf?anpjvq') format('truetype'),
    url('fonts/icon-set.woff?anpjvq') format('woff'),
    url('fonts/icon-set.svg?anpjvq#icon-set') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-set' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contacts:before {
  content: "\e907";
}
.icon-cross-middle:before {
  content: "\e944";
}
.icon-trash:before {
  content: "\e938";
}
.icon-user-profile:before {
  content: "\e971";
}
.icon-information-outline:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e950";
}
.icon-delivery:before {
  content: "\e90b";
}
.icon-catalog:before {
  content: "\e90c";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-star:before {
  content: "\e906";
}
.icon-rub:before {
  content: "\f159";
}
.icon-whats-app:before {
  content: "\f232";
}
.icon-vk-brand:before {
  content: "\f189";
}
.icon-telegram-fly:before {
  content: "\e91b";
}
.icon-cart:before {
  content: "\e903";
}
.icon-phone-call:before {
  content: "\e914";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-vk-draw:before {
  content: "\e900";
}
.icon-telegram-draw:before {
  content: "\e901";
}
.icon-whatsapp-draw:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e905";
}
.icon-local_grocery_store:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e911";
}
.icon-location:before {
  content: "\e909";
}
