@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?a3uofb');
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?a3uofb#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?a3uofb')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?a3uofb')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?a3uofb##{$icomoon-font-family}')
      format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  speak: never;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-transform: none;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
}

.icon-angle-left {
  &::before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &::before {
    content: $icon-angle-right;
  }
}
.icon-star {
  &::before {
    content: $icon-star;
  }
}
.icon-rub {
  &::before {
    content: $icon-rub;
  }
}
.icon-whats-app {
  &::before {
    content: $icon-whats-app;
  }
}
.icon-vk-brand {
  &::before {
    content: $icon-vk-brand;
  }
}
.icon-telegram-fly {
  &::before {
    content: $icon-telegram-fly;
  }
}
.icon-cart {
  &::before {
    content: $icon-cart;
  }
}
.icon-phone-call {
  &::before {
    content: $icon-phone-call;
  }
}
.icon-angle-down {
  &::before {
    content: $icon-angle-down;
  }
}
.icon-vk-draw {
  &::before {
    content: $icon-vk-draw;
  }
}
.icon-telegram-draw {
  &::before {
    content: $icon-telegram-draw;
  }
}
.icon-whatsapp-draw {
  &::before {
    content: $icon-whatsapp-draw;
  }
}
.icon-cross-middle {
  &::before {
    content: $icon-cross-middle;
  }
}
.icon-trash {
  &::before {
    content: $icon-trash;
  }
}
.icon-user-profile {
  &::before {
    content: $icon-user-profile;
  }
}
.icon-search {
  &::before {
    content: $icon-search;
  }
}
.icon-local_grocery_store {
  &::before {
    content: $icon-local_grocery_store;
  }
}
.icon-minus {
  &::before {
    content: $icon-minus;
  }
}
.icon-plus {
  &::before {
    content: $icon-plus;
  }
}
.icon-location {
  &::before {
    content: $icon-location;
  }
}
.icon-arrow-right {
  &::before {
    content: $icon-arrow-right;
  }
}
