$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-rub: unquote('"\\f159"');
$icon-whats-app: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-cart: unquote('"\\e903"');
$icon-phone-call: unquote('"\\e914"');
$icon-angle-down: unquote('"\\f107"');
$icon-vk-draw: unquote('"\\e900"');
$icon-telegram-draw: unquote('"\\e901"');
$icon-whatsapp-draw: unquote('"\\e902"');
$icon-trash: unquote('"\\e938"');
$icon-user-profile: unquote('"\\e971"');
$icon-search: unquote('"\\e905"');
$icon-local_grocery_store: unquote('"\\e904"');
$icon-minus: unquote('"\\e908"');
$icon-plus: unquote('"\\e911"');
$icon-location: unquote('"\\e909"');
$icon-arrow-right: unquote('"\\e950"');

