$icomoon-font-family: 'icon-set' !default;
$icomoon-font-path: 'fonts' !default;

$icon-user: unquote('"\\e915"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down1: unquote('"\\f108"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-user-plus: unquote('"\\e913"');
$icon-max-logo: unquote('"\\e910"');
$icon-time-alarm: unquote('"\\e90f"');
$icon-fire: unquote('"\\e90d"');
$icon-truck: unquote('"\\f0d1"');
$icon-delivery: unquote('"\\e90b"');
$icon-catalog: unquote('"\\e90c"');
$icon-star: unquote('"\\e906"');
$icon-rub: unquote('"\\f159"');
$icon-whats-app: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-cart: unquote('"\\e903"');
$icon-phone-call: unquote('"\\e914"');
$icon-angle-down: unquote('"\\f107"');
$icon-vk-draw: unquote('"\\e900"');
$icon-telegram-draw: unquote('"\\e901"');
$icon-whatsapp-draw: unquote('"\\e902"');
$icon-close-button: unquote('"\\e90e"');
$icon-zoom-in: unquote('"\\e912"');
$icon-search: unquote('"\\e905"');
$icon-shopping-cart: unquote('"\\e904"');
$icon-minus: unquote('"\\e908"');
$icon-plus: unquote('"\\e911"');
$icon-heart-like: unquote('"\\e9da"');
$icon-contacts: unquote('"\\e907"');
$icon-trash: unquote('"\\e938"');
$icon-user-profile: unquote('"\\e971"');
$icon-information-outline: unquote('"\\e90a"');
$icon-arrow-left: unquote('"\\e92d"');
$icon-arrow-right: unquote('"\\e950"');
$icon-location: unquote('"\\e909"');
