extends @/pug/layouts/app_layout.pug

append link 
prepend script
	script(defer type="module" src="/src/js/index.js")
block title
	- var text='Home'

block main-content
	section.main-content__section#home 
		.main-content__background-img
			img(src="/img/pic/bg-img-01.png" alt="image") 
			img(src="/img/pic/bg-img-02.png" alt="image") 
		include @/pug/sections/section-perform
	section.main-content__section#invitation
		include @/pug/sections/section-invitation
	section.main-content__section#products
		include @/pug/sections/section-products
	section.main-content__section#bonuses
		include @/pug/sections/section-bonuses 
	section.main-content__section#info
		include @/pug/sections/section-info
	section.main-content__section 
		include @/pug/sections/section-map 


