extends @/pug/layouts/app_layout.pug

append link 
prepend script
	//- script(defer type="module" src="/src/js/index.js")
block title
	- var text='Спасибо за заказ'

block main-content
	section.main-content__section#home 
		.main-content__background-img
			img(src="/img/pic/bg-img-01.png" alt="image") 
			img(src="/img/pic/bg-img-02.png" alt="image") 
	section.main-content__section
		include @/pug/sections/section-placed-order
