@use '../core/variables' as *;

.hamburger {
  cursor: pointer;
  // .hamburger__line
  &__line {
    display: block;

    width: 20px;
    height: 2px;
    margin: 4px auto;

    background-color: $color-secondary;

    transition: all 0.3s ease-in-out;
  }

  &.is-active {
    .hamburger__line {
      background-color: $color-secondary;
      &:nth-child(1) {
        transform: translateY(6px);
      }

      &:nth-child(3) {
        transform: translateY(-6px);
      }
    }
  }
}
