@use '../core/extend.scss' as *;

.preloader {
  position: fixed;
  z-index: 99;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: hsl(0deg 36% 59%);
  background-image:
    radial-gradient(at 42% 36%, hsl(214deg 47% 56% / 51%) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsl(0deg 34% 34% / 84%) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsl(210deg 30% 32% / 100%) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsl(17deg 100% 67% / 100%) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsl(120deg 17% 50% / 45%) 0, transparent 50%),
    radial-gradient(at 18% 32%, hsl(18deg 91% 56% / 100%) 0, transparent 50%);

  &::before {
    content: '';

    position: absolute;
    z-index: 20;

    width: 140px;
    height: 55px;
    border: 1px solid rgb(255 255 255 / 27.4%);
    border-top: none;
    border-radius: 0 0 10px 10px;

    background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(8px);
    box-shadow: 0 15px 20px rgb(0 0 0 / 8.2%);

    animation: anim2 2s infinite;
  }

  div {
    position: relative;
    z-index: -1;
    transform: translateY(5px);

    width: 25px;
    height: 25px;
    margin: 0.2em;
    border-radius: 50%;

    background: rgb(228 228 228);

    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * var(--i));
  }

  &.preloader-remove {
    display: none;
  }
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-65px);
  }
}

@keyframes anim2 {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
