/**
 * Swiper 12.1.0
 
 */

:root {
  --swiper-theme-color: #007aff;
}
:host {
  position: relative;
  z-index: 1;

  display: block;

  margin-right: auto;
  margin-left: auto;
}
.swiper {
  position: relative;
  z-index: 1;

  overflow: hidden;
  display: block;

  margin-right: auto;
  margin-left: auto;
  padding: 0;

  list-style: none;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  z-index: 1;

  display: flex;

  box-sizing: initial;
  width: 100%;
  height: 100%;

  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  transition-property: transform;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  position: relative;

  display: block;
  flex-shrink: 0;

  width: 100%;
  height: 100%;

  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
  .swiper-cube-shadow,
  .swiper-slide {
    transform-style: preserve-3d;
  }
}
.swiper-css-mode {
  > .swiper-wrapper {
    scrollbar-width: none;
    overflow: auto;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
  &.swiper-horizontal {
    > .swiper-wrapper {
      scroll-snap-type: x mandatory;
    }
    > .swiper-wrapper > .swiper-slide:first-child {
      scroll-margin-inline-start: var(--swiper-slides-offset-before);
      margin-inline-start: var(--swiper-slides-offset-before);
    }
    > .swiper-wrapper > .swiper-slide:last-child {
      margin-inline-end: var(--swiper-slides-offset-after);
    }
  }
  &.swiper-vertical {
    > .swiper-wrapper {
      scroll-snap-type: y mandatory;
    }
    > .swiper-wrapper > .swiper-slide:first-child {
      scroll-margin-block-start: var(--swiper-slides-offset-before);
      margin-block-start: var(--swiper-slides-offset-before);
    }
    > .swiper-wrapper > .swiper-slide:last-child {
      margin-block-end: var(--swiper-slides-offset-after);
    }
  }
  &.swiper-free-mode {
    > .swiper-wrapper {
      scroll-snap-type: none;
    }
    > .swiper-wrapper > .swiper-slide {
      scroll-snap-align: none;
    }
  }
  &.swiper-centered {
    > .swiper-wrapper::before {
      content: '';
      flex-shrink: 0;
      order: 9999;
    }
    > .swiper-wrapper > .swiper-slide {
      scroll-snap-align: center center;
      scroll-snap-stop: always;
    }
  }
  &.swiper-centered.swiper-horizontal {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-inline-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      width: var(--swiper-centered-offset-after);
      height: 100%;
      min-height: 1px;
    }
  }
  &.swiper-centered.swiper-vertical {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-block-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      width: 100%;
      min-width: 1px;
      height: var(--swiper-centered-offset-after);
    }
  }
}
.swiper-3d {
  .swiper-slide-shadow,
  .swiper-slide-shadow-bottom,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top {
    pointer-events: none;

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
  .swiper-slide-shadow {
    background: #00000026;
  }
  .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, #00000080, #0000);
  }
  .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, #00000080, #0000);
  }
  .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, #00000080, #0000);
  }
  .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, #00000080, #0000);
  }
}
.swiper-lazy-preloader {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform-origin: 50%;

  box-sizing: border-box;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-top: 4px solid #0000;
  border-radius: 50%;
}
.swiper-watch-progress .swiper-slide-visible,
.swiper:not(.swiper-watch-progress) {
  .swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s linear infinite;
  }
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.swiper-virtual .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
.swiper-virtual.swiper-css-mode {
  .swiper-wrapper::after {
    pointer-events: none;
    content: '';

    position: absolute;
    top: 0;
    left: 0;
  }
}
.swiper-virtual.swiper-css-mode.swiper-horizontal {
  .swiper-wrapper::after {
    width: var(--swiper-virtual-size);
    height: 1px;
  }
}
.swiper-virtual.swiper-css-mode.swiper-vertical {
  .swiper-wrapper::after {
    width: 1px;
    height: var(--swiper-virtual-size);
  }
}
:root {
  --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;

  position: absolute;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);

  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  &.swiper-button-disabled {
    pointer-events: none;
    cursor: auto;
    opacity: 0.35;
  }
  &.swiper-button-hidden {
    pointer-events: none;
    cursor: auto;
    opacity: 0;
  }
  .swiper-navigation-disabled & {
    display: none !important;
  }
  svg {
    pointer-events: none;

    transform-origin: center;

    width: 100%;
    height: 100%;

    object-fit: contain;

    fill: currentcolor;
  }
}
.swiper-button-lock {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
}
.swiper-button-prev {
  right: auto;
  left: var(--swiper-navigation-sides-offset, 4px);
  .swiper-navigation-icon {
    transform: rotate(180deg);
  }
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 4px);
  left: auto;
}
.swiper-horizontal {
  .swiper-button-next,
  .swiper-button-prev,
  ~ .swiper-button-next,
  ~ .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 50%);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    margin-left: 0;
  }
  &.swiper-rtl .swiper-button-next,
  &.swiper-rtl ~ .swiper-button-next,
  & ~ .swiper-button-prev,
  .swiper-button-prev {
    right: auto;
    left: var(--swiper-navigation-sides-offset, 4px);
  }
  &.swiper-rtl .swiper-button-prev,
  &.swiper-rtl ~ .swiper-button-prev,
  & ~ .swiper-button-next,
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 4px);
    left: auto;
  }
  &.swiper-rtl .swiper-button-next,
  &.swiper-rtl ~ .swiper-button-next,
  & ~ .swiper-button-prev,
  .swiper-button-prev {
    .swiper-navigation-icon {
      transform: rotate(180deg);
    }
  }
  &.swiper-rtl .swiper-button-prev,
  &.swiper-rtl ~ .swiper-button-prev {
    .swiper-navigation-icon {
      transform: rotate(0deg);
    }
  }
}
.swiper-vertical {
  .swiper-button-next,
  .swiper-button-prev,
  ~ .swiper-button-next,
  ~ .swiper-button-prev {
    right: auto;
    left: var(--swiper-navigation-top-offset, 50%);
    margin-top: 0;
    margin-left: calc(0px - var(--swiper-navigation-size) / 2);
  }
  .swiper-button-prev,
  ~ .swiper-button-prev {
    top: var(--swiper-navigation-sides-offset, 4px);
    bottom: auto;
    .swiper-navigation-icon {
      transform: rotate(-90deg);
    }
  }
  .swiper-button-next,
  ~ .swiper-button-next {
    top: auto;
    bottom: var(--swiper-navigation-sides-offset, 4px);
    .swiper-navigation-icon {
      transform: rotate(90deg);
    }
  }
}
.swiper-pagination {
  position: absolute;
  z-index: 10;
  transform: translateZ(0);

  text-align: center;

  transition: opacity 0.3s;
  &.swiper-pagination-hidden {
    opacity: 0;
  }
  &.swiper-pagination-disabled,
  .swiper-pagination-disabled > & {
    display: none !important;
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: var(--swiper-pagination-top, auto);
  bottom: var(--swiper-pagination-bottom, 8px);
  left: 0;
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
  .swiper-pagination-bullet {
    position: relative;
    transform: scale(0.33);
  }
  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }
  .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }
  .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }
  .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }
  .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
}
.swiper-pagination-bullet {
  display: inline-block;

  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);

  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  background: var(--swiper-pagination-bullet-inactive-color, #000);

  .swiper-pagination-clickable & {
    cursor: pointer;
  }
  &:only-child {
    display: none !important;
  }
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  top: 50%;
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  transform: translate3d(0, -50%, 0);
  .swiper-pagination-bullet {
    display: block;
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  }
  &.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    .swiper-pagination-bullet {
      display: inline-block;
      transition:
        transform 0.2s,
        top 0.2s;
    }
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    .swiper-pagination-bullet {
      transition:
        transform 0.2s,
        left 0.2s;
    }
  }
}
.swiper-horizontal.swiper-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition:
    transform 0.2s,
    right 0.2s;
}
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}
.swiper-pagination-progressbar {
  position: absolute;
  background: var(--swiper-pagination-progressbar-bg-color, #00000040);
  .swiper-pagination-progressbar-fill {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left top;
    transform: scale(0);

    width: 100%;
    height: 100%;

    background: var(--swiper-pagination-color, var(--swiper-theme-color));
  }
  .swiper-rtl & .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }
  &.swiper-pagination-horizontal,
  &.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-horizontal > &,
  .swiper-vertical > &.swiper-pagination-progressbar-opposite {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--swiper-pagination-progressbar-size, 4px);
  }
  &.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
  &.swiper-pagination-vertical,
  .swiper-horizontal > &.swiper-pagination-progressbar-opposite,
  .swiper-vertical > & {
    top: 0;
    left: 0;
    width: var(--swiper-pagination-progressbar-size, 4px);
    height: 100%;
  }
}
.swiper-pagination-lock {
  display: none;
}
.swiper-scrollbar {
  touch-action: none;
  position: relative;
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  background: var(--swiper-scrollbar-bg-color, #0000001a);
  &.swiper-scrollbar-disabled,
  .swiper-scrollbar-disabled > & {
    display: none !important;
  }
  &.swiper-scrollbar-horizontal,
  .swiper-horizontal > & {
    position: absolute;
    z-index: 50;
    top: var(--swiper-scrollbar-top, auto);
    bottom: var(--swiper-scrollbar-bottom, 4px);
    left: var(--swiper-scrollbar-sides-offset, 1%);

    width: calc(100% - var(--swiper-scrollbar-sides-offset, 1%) * 2);
    height: var(--swiper-scrollbar-size, 4px);
  }
  &.swiper-scrollbar-vertical,
  .swiper-vertical > & {
    position: absolute;
    z-index: 50;
    top: var(--swiper-scrollbar-sides-offset, 1%);
    right: var(--swiper-scrollbar-right, 4px);
    left: var(--swiper-scrollbar-left, auto);

    width: var(--swiper-scrollbar-size, 4px);
    height: calc(100% - var(--swiper-scrollbar-sides-offset, 1%) * 2);
  }
}
.swiper-scrollbar-drag {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: var(--swiper-scrollbar-border-radius, 10px);

  background: var(--swiper-scrollbar-drag-bg-color, #00000080);
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}
.swiper-zoom-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;
  > canvas,
  > img,
  > svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.swiper-slide-zoomed {
  touch-action: none;
  cursor: move;
}
.swiper .swiper-notification {
  pointer-events: none;

  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;

  opacity: 0;
}
.swiper-free-mode > .swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out;
}
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-grid-column > .swiper-wrapper {
  flex-flow: column wrap;
}
.swiper-fade {
  &.swiper-free-mode {
    .swiper-slide {
      transition-timing-function: ease-out;
    }
  }
  .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
    .swiper-slide {
      pointer-events: none;
    }
  }
  .swiper-slide-active {
    pointer-events: auto;
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
}
.swiper.swiper-cube {
  overflow: visible;
}
.swiper-cube {
  .swiper-slide {
    pointer-events: none;

    z-index: 1;
    transform-origin: 0 0;

    width: 100%;
    height: 100%;

    visibility: hidden;
    backface-visibility: hidden;
    .swiper-slide {
      pointer-events: none;
    }
  }
  &.swiper-rtl .swiper-slide {
    transform-origin: 100% 0;
  }
  .swiper-slide-active {
    &,
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
  .swiper-slide-active,
  .swiper-slide-next,
  .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
  }
  .swiper-cube-shadow {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.6;
    &::before {
      content: '';

      position: absolute;
      inset: 0;

      background: #000;
      filter: blur(50px);
    }
  }
}
.swiper-cube {
  .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
  }
}
.swiper-cube {
  .swiper-slide-shadow-cube.swiper-slide-shadow-bottom,
  .swiper-slide-shadow-cube.swiper-slide-shadow-left,
  .swiper-slide-shadow-cube.swiper-slide-shadow-right,
  .swiper-slide-shadow-cube.swiper-slide-shadow-top {
    z-index: 0;
    backface-visibility: hidden;
  }
}
.swiper.swiper-flip {
  overflow: visible;
}
.swiper-flip {
  .swiper-slide {
    pointer-events: none;
    z-index: 1;
    backface-visibility: hidden;
    .swiper-slide {
      pointer-events: none;
    }
  }
  .swiper-slide-active {
    &,
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
}
.swiper-flip {
  .swiper-slide-shadow-flip.swiper-slide-shadow-bottom,
  .swiper-slide-shadow-flip.swiper-slide-shadow-left,
  .swiper-slide-shadow-flip.swiper-slide-shadow-right,
  .swiper-slide-shadow-flip.swiper-slide-shadow-top {
    z-index: 0;
    backface-visibility: hidden;
  }
}
.swiper-creative {
  .swiper-slide {
    overflow: hidden;
    backface-visibility: hidden;
    transition-property: transform, opacity, height;
  }
}
.swiper.swiper-cards {
  overflow: visible;
}
.swiper-cards {
  .swiper-slide {
    transform-origin: center bottom;
    overflow: hidden;
    backface-visibility: hidden;
  }
}
