.choice-block 
	.choice-block__checked 
		label.choice-block__option 
			input.choice-block__native-input(type="checkbox" name="operation" value="birth-day")
			span.choice-block__custom-button.choice-block__custom-button--return На день рождения
		label.choice-block__option
			input.choice-block__native-input(type="checkbox" name="operation" value="wedding")
			span.choice-block__custom-button.choice-block__custom-button--exchange Свадьба
		label.choice-block__option
			input.choice-block__native-input(type="checkbox" name="operation" value="women-day")
			span.choice-block__custom-button.choice-block__custom-button--exchange На 8 марта
		label.choice-block__option
			input.choice-block__native-input(type="checkbox" name="operation" value=" say-love")
			span.choice-block__custom-button.choice-block__custom-button--exchange Сказать люблю
		label.choice-block__option
			input.choice-block__native-input(type="checkbox" name="operation" value=" thanks")
			span.choice-block__custom-button.choice-block__custom-button--exchange Благодарность
		label.choice-block__option
			input.choice-block__native-input(type="checkbox" name="operation" value=" congratulation")
			span.choice-block__custom-button.choice-block__custom-button--exchange Поздравление