form(action="#" method="post" id="quick-search").form-search 
  .form-search__search-box 
    label(for="site-search") 
    input(class="" id="site-search" type="text" name="search" placeholder="Поиск по сайту..." autocomplete="off").form-search__input 
    button(type="submit").form-search__search-button  
      +iconfont('search', 'icon')
