.menu-list
  .menu-list__body
    .menu-list__header 
      a(href="#home" aria-label="home").menu-list__logo
        +picture('/img/icons/logo.png', 'image')  
      include ../assets/burger-button 
    .menu-list__content 
      .menu-list__list.bp-7
        .menu-list__list-item.button
          a(href=linkTo('catalog', filename)).menu-list__link 
            +iconfont('catalog', 'icon')
            span Каталог
        .menu-list__list-item.button
          a(href=linkTo('delivery', filename)).menu-list__link 
            +iconfont('delivery', 'icon')
            span Доставка
        //- .menu-list__list-item.button
          a(href=linkTo('about', filename)).menu-list__link 
            +iconfont('information-outline', 'icon')
            span О нас
        //- .menu-list__list-item.button
          a(href="#contacts").menu-list__link.anchor-link
            +iconfont('contacts', 'icon')
            span Контакты
        //- .menu-list__list-item.button
          a(href="" target="_blank").menu-list__link 
            .menu-list__icon 
              img(src="/img/icons/group.svg" alt="иконка")
            span Система лояльности  
      .menu-list__footer 
        .section-map__networks
          +iconfont('telegram-fly', 'icon') 
          +iconfont('vk-brand', 'icon')
        .section-map__text
          span.t-text-20 Мы в соц. сетях
          span.t-text-13 Пишите нам