@use '../core/variables' as *;
@use '../core/mixins' as *;

.catalog-filter {
  // .catalog-filter__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 20px;
    border-radius: 30px;

    color: $color-defoult;

    background-color: white;
    box-shadow: -5px 5px 15px 5px rgb(175 175 175 / 20%);
  }

  // .catalog-filter__title
  &__title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    padding-block: 15px;
    border-bottom: 1px solid rgb(241 241 241);

    font-weight: 600;

    span {
      font-size: inherit;
      line-height: 110%;
    }
  }

  // .catalog-filter__close-button
  &__close-button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;

    font-family: $font-family-secondary;
    color: rgb(153 150 147);

    .icon-cross-middle {
      font-size: 18px;
    }

    span {
      font-family: $font-family-default;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.2px;
    }
  }

  // .catalog-filter__line
  &__line {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // .catalog-filter__legend
  &__legend {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  // .catalog-filter__row
  &__row {
    display: flex;
    gap: 1rem;
  }

  // .catalog-filter__column
  &__column {
    display: flex;
    align-items: center;
    border: 1px solid #e4e1e0;
    border-radius: 100vh;

    input {
      width: 100%;
      padding: 12px;
    }
  }

  // .catalog-filter__label
  &__label {
    margin-left: 12px;
  }

  // .catalog-filter__buttons
  &__buttons {
    display: flex;
    gap: 10px;
  }

  // .catalog-filter__button
  &__button {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-between;

    font-family: $font-family-default;
    font-size: 15px;
    font-weight: 400;
    color: white;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 25px;
      height: 25px;
      border-radius: 100vh;

      font-size: 13px;
      color: $color-defoult;

      background-color: white;
    }
  }
}

:root {
  //   /* surface and button */
  --hue: 0;
  --sat: 10%;

  /* button light color */
  --hue2: 247;
  --sat2: 90%;
  --light2: 60%;

  /* other */
  // --primary: hsl(var(--hue2) var(--sat2) var(--light2));
  --trans-dur: 0.3s;
  --trans-timing: ease-in-out;
  --trans-timing2: cubic-bezier(0.42, -1.84, 0.42, 1.84);
  --trans-timing3: cubic-bezier(0.42, 0, 0.42, 1.84);

  // * -------------------------------------------------------------------------
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #fff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

.choice-block {
  // .choice-block__checked
  &__checked {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px 3px;
  }

  // .choice-block__option
  &__option {
    position: relative;

    display: inline-block;

    padding: 12px;
    border-radius: 100vh;

    background-color: transparent;
    outline: transparent;

    &::before,
    &::after {
      content: '';

      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &::before {
      background-image: linear-gradient(
        hsl(var(--hue) var(--sat) 90%),
        hsl(var(--hue) var(--sat) 80%)
      );
      box-shadow: 0 0.75em 0.75em 0.25em hsl(var(--hue) 0% 0% / 30%);
      transition:
        box-shadow var(--trans-dur) var(--trans-timing2),
        transform var(--trans-dur) var(--trans-timing2);
    }

    &::after {
      // background-color: hsl(var(--hue) var(--sat) 95%);

      background-color: rgb(247 243 240);
      box-shadow:
        0 0.0625em 0 hsl(var(--hue) var(--sat) 90%) inset,
        0 -0.0625em 0 hsl(var(--hue) var(--sat) 90%) inset,
        0 0 0 0 hsl(var(--hue2) var(--sat2) var(--light2) / 10%) inset;
      transition:
        background-color var(--trans-dur) var(--trans-timing),
        box-shadow var(--trans-dur) var(--trans-timing),
        transform var(--trans-dur) var(--trans-timing2);
    }

    &[aria-pressed='false'] {
      box-shadow:
        0.2rem 0.2rem 0.6rem rgb(247 243 240),
        -0.2rem -0.2rem 0.5rem var(--white);

      &::before {
        transform: scale(0.8);
        box-shadow: -0.1375em 0.1375em 0.1375em 0 hsl(var(--hue) 0% 0% / 30%);
      }

      &::after {
        background: none;
        background-color: rgb(255 255 255);
        box-shadow:
          inset 0.2rem 0.2rem 0.5rem rgb(247 243 240),
          inset -0.2rem -0.2rem 0.5rem var(--white);
      }
    }
  }

  // .choice-block__native-input
  &__native-input {
    pointer-events: none;

    position: absolute;

    width: 0;
    height: 0;

    opacity: 0;
  }

  // .choice-block__custom-button
  &__custom-button {
    user-select: none;

    position: relative;
    z-index: 9;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-family: $font-family-default;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: rgb(70 68 68);

    opacity: 0.5;

    transition:
      color 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      text-shadow 0.3s ease-in-out;
  }
}
