@use '../core/all' as *;

.order-place {
  overflow-y: visible;

  // . order-place__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  // .order-place__drawer
  &__drawer {
    max-width: 690px;
    margin: 8rem 0;
  }

  // order-place__line
  &__line {
    display: flex;
    justify-content: space-between;
  }

  // .order-place__close-button
  &__close-button {
    display: flex;
    justify-content: center;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    box-shadow: 0 0 3px 1px $neon-blue-dark;

    transition: scale 0.4s ease-in-out;

    // @extend .gradient-black;

    &:hover {
      scale: 1.3;
    }

    .icon-angles-down-solid {
      color: $neon-blue-dark;
    }
  }

  // .order-place__title
  &__title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 4rem;

    font-size: 2.8rem;
    font-weight: 600;
    color: #55f;
    text-transform: uppercase;

    @include minmax-320-1920 {
      font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
    }

    @include screen-320 {
      font-size: 20px;
    }
  }
}

.form-order {
  // .form-order__row
  &__row {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  // .form-order__column
  &__column {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .form-order__input
  &__input {
    border: 1px solid $neon-blue-dark;
    border-radius: 5px;

    .input {
      width: 100%;
      height: 40px;
      padding: 10px 15px;

      font-size: 14px;

      transition: all 0.4s ease-in-out;

      &:focus {
        border-radius: 5px;
        box-shadow: 0 0 7px 1px $neon-blue-dark;
      }
    }
  }

  // .form-order__message
  &__message {
    resize: none;

    width: 100%;
    height: 100%;
    min-height: 100px;
    padding: 10px 15px;
    border: 1px solid $neon-blue-dark;
    border-radius: 5px;

    font-size: 14px;

    transition: all 0.4s ease-in-out;

    &:focus {
      border-radius: 5px;
      box-shadow: 0 0 7px 1px $neon-blue-dark;
    }
  }

  // .order-place__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    margin-top: 5rem;
    border-radius: 7px;

    box-shadow: 0 0 6px #000;

    &::before {
      border-radius: 7px;
    }

    &:hover {
      .submit-button {
        animation: shadow-pulse 0;
      }
    }

    @include screen-375 {
      width: 100%;
    }

    .submit-button {
      border: 0;
      border-radius: 7px;

      font-size: 1.6rem;
      font-weight: 500;
      color: white;

      box-shadow:
        0 10px 20px rgb(245 0 0 / 10%),
        0 6px 6px rgb(0 0 0 / 5%);

      transition: all 0.4s ease-in-out;
      animation: shadow-pulse 1.5s infinite;
    }

    button {
      position: relative;
      z-index: 9;

      overflow: hidden;
      display: inline-flex;
      justify-content: center;

      padding: 1.6rem 5rem;

      text-transform: uppercase;

      @include screen-375 {
        width: 100%;
      }

      span {
        text-shadow: 1px 1px 1px #000;
      }
    }
  }
}

.checkbox {
  // .checkbox__input
  &__input {
    display: none;
  }

  // .checkbox__label
  &__label {
    position: relative;

    display: inline-flex;
    align-items: center;

    font-size: 16px;
    line-height: 110%;

    &::before {
      content: '';

      position: relative;

      display: flex;
      flex: 0 0 20px;
      align-items: center;
      align-self: center;
      justify-content: center;

      height: 20px;
      margin-right: 10px;
      border: 1px solid $neon-blue-dark;
      border-radius: 4px;
    }

    span {
      font-size: 10px;

      a {
        font-weight: 600;
        text-decoration: underline;
      }
    }

    .icon {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;

      .icon-angle-down {
        position: relative;
        left: 0;

        margin-left: -30px;

        opacity: 0;

        transition: all 0.3s ease-in-out;

        &::before {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 20px;
          height: 20px;

          font-size: 2.8rem !important;
          color: $neon-blue-dark;
        }
      }
    }
  }
}
