@use '../core/variables' as *;
@use '../core/mixins' as *;

.menu-list {
  position: fixed;
  z-index: 19;
  top: 0;
  right: 0;
  transform: translateX(115%);

  width: auto;
  height: 100vh;

  background: $background;
  box-shadow: -2px 3px 7px $color;

  transition: transform 0.3s cubic-bezier(0.7, -0.955, 0.55, 1.55);

  @include screen-320 {
    width: 100%;
  }

  &._open-list {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }

  // .menu-list__body
  &__body {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // .menu-list__header
  &__header {
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid $color;

    background-color: #fff7e2;
    backdrop-filter: blur(10px);
  }

  // .menu-list__content
  &__content {
    pointer-events: all;

    position: relative;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    height: calc(100% - 59px);

    background: $background;
  }

  // .menu-list__list
  &__list {
    pointer-events: all;

    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    padding: 3rem 2rem;

    ul {
      position: relative;
      z-index: 1;
    }

    span {
      font-size: 2.4rem;
    }
  }

  // .menu-list__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding: 1rem 2rem;

    font-family: $font-family-default;
    font-weight: 500;
    line-height: 190%;
    color: #fff7e2;

    .icon {
      margin-right: 0.8rem;
      font-size: 18px;
    }

    .menu-list__icon {
      width: 16px;
      height: 16px;
      margin-right: 0.8rem;
    }
  }

  // .menu-list__footer
  &__footer {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 2rem;

    .section-map__networks {
      padding-right: 3rem;
    }

    .section-map__text {
      padding-left: 3rem !important;
      border-left: 1px solid $color;
    }
  }

  // .menu-list__list-item
  &__list-item {
    display: block;
    padding: 0 0.5rem;

    &.button {
      border-radius: 30px;
    }
  }
}
