@use '../core/variables' as *;
@use '../core/mixins' as *;

.navigation-slide {
  display: flex;
  gap: 16px;

  // .navigation-slide__prev, .navigation-slide__next
  &__prev,
  &__next {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 100vh;

    background-color: $color;

    transition: all 0.4s ease-in-out;

    .icon {
      font-size: 14px;
      color: white;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.3;
      filter: grayscale(1);
    }
  }
}
