.svg-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: -2px;
  left: 0;

  width: 100%;

  .cloud3 {
    z-index: 999;

    // border: 1px solid green;
    width: 100%;
    opacity: 0.6;
    object-fit: cover;
  }
  .cloud1 {
    height: auto;
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;

    // height: 100vh;
  }
}
