.swiper {
  width: 100%;
  height: 100%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  text-align: center;

  background-position: center;
  background-size: cover;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-thumb {
  position: relative;
}

.mySwiper2 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.slide-thumb {
  position: relative;
  z-index: 99;

  width: 100%;
  max-width: 420px;
  margin-top: -45px;
  padding: 10px 35px;
  border-radius: 20px;

  background: rgb(255 255 255 / 100%);
  box-shadow:
    -64.48px 76.44px 192px 0 rgb(0 0 0 / 7%),
    -41.79px 49.54px 112.4px 0 rgb(0 0 0 / 5%),
    -24.84px 29.44px 61.1px 0 rgb(0 0 0 / 4%),
    -12.9px 15.29px 31.2px 0 rgb(0 0 0 / 4%),
    -5.25px 6.23px 15.6px 0 rgb(0 0 0 / 3%),
    -1.19px 1.42px 7.5px 0 rgb(0 0 0 / 2%);

  &__body {
    overflow: hidden;
  }
}

.mySwiper {
  display: flex;
  box-sizing: border-box;
  height: 15%;

  .swiper-wrapper {
    width: min-content;
  }

  .swiper-slide {
    cursor: pointer;
    max-width: 70px;
    border: 2px solid transparent;
    opacity: 0.7;

    img {
      overflow: hidden;

      box-sizing: border-box;
      width: 100%;
      height: 70px;
      border-radius: 15px;

      object-fit: cover;

      transition: border-color 0.3s ease 0s;
    }

    &.swiper-slide-thumb-active {
      img {
        border: 2px solid;
        border-color: rgb(236 104 29 / 100%);
      }
    }
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.navigation {
  pointer-events: none;

  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  transform: translateY(-20px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  // .navigation__prev
  &__prev {
    pointer-events: auto;
    cursor: pointer;

    flex: 0 0 40px;

    width: 40px;
    height: 40px;
  }

  // .navigation__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    .icon {
      pointer-events: none;
      font-size: 30px;
    }
  }

  // .navigation__next
  &__next {
    pointer-events: auto;
    cursor: pointer;

    flex: 0 0 40px;

    width: 40px;
    height: 40px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  .icon {
    font-size: 38px;
    color: #000;
  }
}
